body {
	/*background: url('images/backgrounds/darkblue/bg-darkblue.jpg') repeat-x;*/
	color: #456179;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	width: 90%;
	margin: 0 5%;
}

.notice, span#noticePopup	{
	background-color: #a8bccb;
	color: #fff;
	border: 1px solid #2c4762;
}

.button	{
	border: solid 1px #2c4762;
	background-color: #2c4762;
}

.button:hover, .buttonHover {
	background-color: #415c77; 
}

/* andrew 10.21.2011 */
.button:focus{	
	background-color: #405B76;
}

div#mainNav	{
	background-color: #2c4762;
	margin-top: 1px;
}

.forCTV {
	color: #456179;
}

.tableRow	{
	color: #456179;
}

.lightblue	{ /* added for row highlight of lightblue by whofeih*/
	background-color: #8497bc;
	color: #fff;
}

.selectedRow	{ /* added for row selected of lightblue by whofeih*/
	background-color: #4a6278;
	color: #fff;
}

div#footer	{
	background-color: #d6dcea;
}

div#footer a	{
	color: #456179;
}

div#footer a:hover	{
	border-bottom: 1px #2c4762 dashed;
}

div#contentHolder, .contentHolder	{
	border: 5px solid #2c4762;
}

.rightAligned	{
	color:  #456179;
}

.textFocused {
	background-color: #F0F8FF;
}

div#outerDiv {
	border: 1px solid #2c4762;
}

div#innerDiv {
	background-color: #b2c3d7;
}

div#innerLabelDiv {
	background-color: #b2c3d7;
}

div#siteBanner {
	background: url('images/backgrounds/darkblue/left.gif') no-repeat left;
}

div#siteBanner1 {
	background: url('images/backgrounds/darkblue/right.gif') no-repeat right;
}

div#siteBanner2 {
	height: 72px;
	width: 98%;
	margin: 0 auto;
	background: url('images/backgrounds/darkblue/bg.gif') repeat-x;
}

img.bannerIcon:hover {
	background-color: #415c77;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}

/**********************
	Table grid styles
	- andrew robes
	- 11.26.2010
***********************/
tr.focus {
    background-color: #4a6278;
    color: #fff;
}

tr.highlight {
	background-color: #e6d7f5;
}

a.mtgMenuItem:hover {
    background-color: #8497bc;
}

div.mtgMenu {
    border: 1px solid #4a6278;
}