body {
	/*background: url('images/backgrounds/gray/bg-gray.jpg') repeat-x;*/
	color: #555555;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.notice, span#noticePopup	{
	background-color: #C8C8C8;
	color: #fff;
	border: 1px solid gray;
}

.button	{
	border: solid 1px #555555;
	background-color: #555555;
}

.button:hover, .buttonHover {
	background-color: #7a7a7a; 
}

div#mainNav	{
	background-color: #555555;
	margin-top: 1px;
}

.forCTV {
	color: #555555;
}

.tableRow	{
	color: #555555;
}

.lightblue	{ /* added for row highlight of lightblue by whofeih*/
	background-color: #E8E8E8;
	color: #555555;
}

.selectedRow	{ /* added for row selected of lightblue by whofeih*/
	background-color: #C8C8C8;
	color: #555555;
}

div#footer	{
	background-color: #F0F8FF;
}

div#footer a	{
	color: gray;
}

div#footer a:hover	{
	border-bottom: 1px dashed gray;
}

div#contentHolder, .contentHolder	{
	border: 5px solid #A0A0A0;
}

.rightAligned	{
	color:  #555555;
}

.textFocused {
	background-color: cornsilk;
}

div#outerDiv {
	border: 1px solid #555555;
}

div#innerDiv {
	background-color: #bab9b9;
}

div#innerLabelDiv {
	background-color: #bab9b9;
}

div#siteBanner {
	background: url('images/backgrounds/gray/left.gif') no-repeat left;
}

div#siteBanner1 {
	background: url('images/backgrounds/gray/right.gif') no-repeat right;
}

div#siteBanner2 {
	height: 72px;
	width: 98%;
	margin: 0 auto;
	background: url('images/backgrounds/gray/bg.gif') repeat-x;
}

img.bannerIcon:hover {
	background-color: #7a7a7a;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}
