body {
	/*background: url('images/backgrounds/green/bg-green.jpg') repeat-x;*/
	color: #007D47;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.notice, span#noticePopup	{
	background-color: #00DBA1;
	color: #fff;
	border: 1px solid green;
}

.button	{
	border: solid 1px #007D47;
	background-color: #007D47;
}

.button:hover, .buttonHover {
	background-color: #2b9d6c; 
}

div#mainNav	{
	background-color: #007D47;
	margin-top: 1px;
}

.forCTV {
	color: #007D47;
}

.tableRow	{
	color: #007D47;
}

.lightblue	{ /* added for row highlight of lightgreen by toni*/
	background-color: #D6FFF4;
	color: #007D47;
}

.selectedRow	{ /* added for row selected of lightgreen by toni*/
	background-color: #00DBA1;
	color: #007D47;
}

div#footer	{
	background-color: #D6FFF4;
}

div#footer a	{
	color: #007D47;
}

div#footer a:hover	{
	border-bottom: 1px #007D47 dashed;
}

div#contentHolder, .contentHolder	{
	border: 5px solid #007D47;
}

.rightAligned	{
	color:  #007D47;
}

.textFocused {
	background-color: #E7FFF0;
}

div#outerDiv {
	border: 1px solid #007D47;
}

div#innerDiv {
	background-color: #d1f2e4;
}

div#innerLabelDiv {
	background-color: #d1f2e4;
}

div#siteBanner {
	background: url('images/backgrounds/green/left.gif') no-repeat left;
}

div#siteBanner1 {
	background: url('images/backgrounds/green/right.gif') no-repeat right;
}

div#siteBanner2 {
	height: 72px;	
	width: 98%;
	margin: 0 auto;
	background: url('images/backgrounds/green/bg.gif') repeat-x;
}

img.bannerIcon:hover {
	background-color: #2b9d6c;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}