body {
	/*background: url('images/backgrounds/maroon/bg-maroon.jpg') repeat-x;*/
	color: #800000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.notice, span#noticePopup	{
	background-color: #FE869A;
	color: #fff;
	border: 1px solid maroon;
}

.button	{
	border: solid 1px #800000;
	background-color: #800000;
}

.button:hover, .buttonHover {
	background-color: #973131; 
}

div#mainNav	{
	background-color: #800000;
	margin-top: 1px;
}

.forCTV {
	color: #800000;
}

.tableRow	{
	color: #800000;
}

.lightblue	{ /* added for row highlight fore maroon color scheme by toni*/
	background-color: #FFDBDB;
	color: #800000;
}

.selectedRow	{ /* added for row selected maroon color scheme by toni*/
	background-color: #FE869A;
	color: #800000;
}

div#footer	{
	background-color: #FFDBDB;
}

div#footer a	{
	color: #800000;
}

div#footer a:hover	{
	border-bottom: 1px #800000 dashed;
}

div#contentHolder, .contentHolder	{
	border: 5px solid #800000;
}

.rightAligned	{
	color:  #800000;
}

.textFocused {
	background-color: #FEEDED;
}

div#outerDiv {
	border: 1px solid #800000;
}

div#innerDiv {
	background-color: #dcabab;
}

div#innerLabelDiv {
	background-color: #dcabab;
}

div#siteBanner {
	background: url('images/backgrounds/maroon/left.gif') no-repeat left;
}

div#siteBanner1 {
	background: url('images/backgrounds/maroon/right.gif') no-repeat right;
}

div#siteBanner2 {
	height: 72px;	
	width: 98%;
	margin: 0 auto;
	background: url('images/backgrounds/maroon/bg.gif') repeat-x;
}

img.bannerIcon:hover {
	background-color: #973131;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}