body {
	/*background: url('images/backgrounds/blue/bg-blue.jpg') repeat-x;*/
	color: #0066CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.notice, span#noticePopup	{
	background-color: #98D0FF;
	color: #fff;
	border: 1px solid blue;
}

.button	{
	border: solid 1px #0066CC;
	background-color: #0066CC;
}

.button:hover, .buttonHover {
	background-color: #3f91e4; 
}

div#mainNav	{
	background-color: #0066CC;
	margin-top: 1px;
}

.forCTV {
	color: #0066CC;
}

.tableRow	{
	color: #0066CC;
}

.lightblue	{ /* added for row highlight of lightblue by whofeih*/
	background-color: #F0F8FF;
	color: #0066CC;
}

.selectedRow	{ /* added for row selected of lightblue by whofeih*/
	background-color: #98D0FF;
	color: #0066CC;
}

div#footer	{
	background-color: #F0F8FF;
}

div#footer a	{
	color: #0066CC;
}

div#footer a:hover	{
	border-bottom: 1px #0066CC dashed;
}

div#contentHolder, .contentHolder	{
	border: 5px solid #0066CC;
}

.rightAligned	{
	color:  #0066CC;
}

.textFocused {
	background-color: #F0F8FF;
}

div#outerDiv {
	border: 1px solid #0066CC;
}

div#innerDiv {
	background-color: #d3e7ff;
}

div#innerLabelDiv {
	background-color: #d3e7ff;
}

div#siteBanner {
	background: url('images/backgrounds/blue/left.gif') no-repeat left;
}

div#siteBanner1 {
	background: url('images/backgrounds/blue/right.gif') no-repeat right;
}

div#siteBanner2 {
	height: 72px;
	width: 98%;
	margin: 0 auto;
	background: url('images/backgrounds/blue/bg.gif') repeat-x;
}

img.bannerIcon:hover {
	background-color: #3f91e4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}