body {
	/*background: url('images/backgrounds/purple/bg-purple.jpg') repeat-x;*/
	color: #45008A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.notice, span#noticePopup	{
	background-color: #BF80FE;
	color: #fff;
	border: 1px solid purple;
}

.button	{
	border: solid 1px #45008A;
	background-color: #45008A;
}

.button:hover, .buttonHover {
	background-color: #6b32a4; 
}

div#mainNav	{
	background-color: #45008A;
	margin-top: 1px;
}

.forCTV {
	color: #45008A;
}

.tableRow	{
	color: #45008A;
}

.lightblue	{ /* added for row highlight of lightgreen by toni*/
	background-color: #EFDFFE;
	color: #45008A;
}

.selectedRow	{ /* added for row selected of lightgreen by toni*/
	background-color: #BF80FE;
	color: #45008A;
}

div#footer	{
	background-color: #EFDFFE;
}

div#footer a	{
	color: #45008A;
}

div#footer a:hover	{
	border-bottom: 1px #45008A dashed;
}

div#contentHolder, .contentHolder	{
	border: 5px solid #45008A;
}

.rightAligned	{
	color:  #45008A;
}

.textFocused {
	background-color: #EFDFFE;
}

div#outerDiv {
	border: 1px solid #45008A;
}

div#innerDiv {
	background-color: #EFDFFE;
}

div#innerLabelDiv {
	background-color: #EFDFFE;
}

div#siteBanner {
	background: url('images/backgrounds/purple/left.gif') no-repeat left;
}

div#siteBanner1 {
	background: url('images/backgrounds/purple/right.gif') no-repeat right;
}

div#siteBanner2 {
	height: 72px;
	width: 98%;
	margin: 0 auto;
	background: url('images/backgrounds/purple/bg.gif') repeat-x;
}

img.bannerIcon:hover {
	background-color: #6b32a4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}