.ddsmoothmenu {
	/*font: bold 11px Verdana;*/
	font: bold 1em Arial;
	/*background: #A0A0A0; /*background of menu bar (default state)*/
	float: left;
	margin: 4px 2px;
	width: 99%;
}

.ddsmoothmenu ul {
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li {
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	/*background: #A0A0A0; /*background of menu items (default state)*/
	color: #fff;
	padding: 4px 7px;
	/*border-right: 1px solid #fff;*/
	text-decoration: none;
	height: 14px;
}

* html .ddsmoothmenu ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.ddsmoothmenu ul li a:link,.ddsmoothmenu ul li a:visited {
	color: white;
}

.ddsmoothmenu ul li a.selected {
	/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: #C0C0C0;
	color: white;
	/*-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;*/
	/* -moz-border-radius: 3px; */
}

.ddsmoothmenu ul li a:not(.disabledMenu):hover {
	background: #C0C0C0;
	/*background of menu items during onmouseover (hover state)*/
	color: white;
	/*-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;*/
/* 	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; */
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	border: 1px solid #C0C0C0;
/* 	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0; */
	box-shadow: 3px 3px 5px #888888;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li {
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul {
	top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a {
	/*font: normal 11px Verdana;*/
	font: normal 1em Arial;
	/*width: 160px; /*width of sub menus*/
	padding: 3px;
	margin: 0;
	border-top-width: 0;
	/* border-bottom: 1px solid #fff; */
	background: #555555;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu {
	height: 1%;
}  /*Holly Hack for IE7 and below*/
	/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass {
	position: absolute;
	top: 8px;
	right: 5px;
}

.rightarrowclass {
	position: absolute;
	top: 7px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}

.toplevelshadow { /*shadow opacity. Doesn't work in IE*/
	opacity: 0.8;
}

li.menuSeparator {
	/* border-bottom: 1px solid #fff; */
	background-color: #E0E0E0;
	height: 1px;
}