/*********************************************************** 
*	CSS definition for ajax-tags elements
*	@author: 	rencela
*	@created:	09/29/2010
*	@version:	1.0
************************************************************/


/****************	Tabs - Start ***************************/
.tabPanelWrapper{
  background: 		#FF0000;
  width: 			450px;
}

.ajaxTabUnselected{
  border-bottom: 	1px solid #E0E0E0;
  margin: 			0;
  padding-bottom: 	19px;
  padding-left: 	10px;
}

.ajaxTabUnselected ul, .ajaxTabUnselected li{
  display: 			inline;
  list-style-type: 	none;
  margin: 			0;
  padding: 			0;
}

.ajaxTabUnselected a:link, .ajaxTabUnselected a:visited{
  background: 		#C0C0C0;
  border: 			1px solid #808080;
  color: 			#456179;
  float: 			left;
  font-size: 		small;
  font-weight: 		normal;
  line-height: 		14px;
  margin-right: 	1px;
  padding: 			2px 10px 2px 10px;
  text-decoration: 	none;
  -moz-border-radius-topright: 40px;
}

.ajaxSelectTabContent{
  background: 		#FFFFFF;
  border: 			1px solid #cccccc;
  height: 			auto;
  border-top: 		none;
  clear: 			both;
  margin-bottom:	20px;
  padding: 			0px;
}

.ajaxTabUnselected a:link.ajaxTabSelected, .ajaxTabUnselected a:visited.ajaxTabSelected{
  background: 		#EEEEEE;
  border: 			1px solid #808080;
  color: 			#456179;
  float: 			left;
  font-size: 		small;
  font-weight: 		normal;
  line-height: 		14px;
  margin-right: 	1px;
  padding: 			2px 10px 2px 10px;
  text-decoration: 	none;
  -moz-border-radius-topright: 40px;
}
/**************** Tabs - End **************************/

/**************** AutoComplete - Start ****************/
.autocomplete {
  position: absolute;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #666666;
  font-family: Arial;
  overflow: hidden;
}
.autocomplete ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}
.autocomplete li {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ffffff;
}
.autocomplete li.selected {
  background-color: #cceeff;
  border-top: 1px solid #99bbcc;
  border-bottom: 1px solid #99bbcc;
}
/**************** AutoComplete - End ****************/