html	{
	overflow-y: auto;
	overflow-x: auto;
}

form	{
	padding: 0;
	margin: 0;
}

div#dynamicDiv {
	width: 100%;
}

div#colorContainer, span#changeColorTheme {
	float: right; 
	margin-top: -75px;
	margin-right: 5px;
	padding: 2px;
	color: gray;
	font-size: 10px;
}

div#colorContainer {
	margin-top: -60px;
}

div#colorContainer .color {
	float: right;
	width: 40px;
	height: 40px;
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: pointer;
}

div#colorContainer2 .color {
	margin: 10px 7px;
	float: right;
	width: 40px;
	height: 40px;
	opacity: .6;
	cursor: pointer;
	border-radius: 3px;
}

div#colorContainer2 .color:hover {
	opacity: 1;
}

/* div#colorContainer {
	margin-top: 58px;
	margin-left: 70px;
}

div#colorContainer .color {
	width: 50px;
	height: 13px;
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: pointer;
} */

div#colorContainer .color:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#mainContainerDiv {
	background: transparent 0%;
	/*z-index: 0;
	margin: 0pt auto;
	float: left;*/
	width: 921px;
	margin-left: auto ;
    margin-right: auto ;
 	
}

#topDiv {	
	margin: 0;
	padding: 0;
}

img.bannerIcon {
	cursor: pointer;
	margin: 1px 2px 0 2px; 
	float: left;
}

img.flag {
	height: 13px;
	width: 20px;
	cursor: pointer;
}

div#flags	{
	padding: 5px;
	padding-left: 0;
	position: fixed;
	height: 10px;
	bottom: 30px;
	width: 90%;
}

div#mainContents	{
	padding-bottom: 10px;
	height: 100%;
	width: 100%;
	float: left;
}

label#header	{
	background-color: #66CCFF;
	width: 100%;
	height: 25px;
	color: #fff;
}

/*.notice, span#noticePopup	{
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	font-size: 11px;
	padding: 5px;
	width: 300px;
	z-index: 5000000;
	-moz-border-radius: 5px;
	float: right;
}

span#noticePopup {
	float: right;
	text-align: left;
}*/

/*.notice {
	color: gray; 
	position: fixed; 
	font-size: 11px; 
	padding: 5px; 
	width: 30%; 
	-moz-border-radius: 5px; 
	float: left; 
	margin: 200px 30%; 
	z-index: 10004; 
	padding: 20px 0; 
	border: 3px solid #fff; 
	background-color: #e8e8e8; 
	opacity: 0.4; 
	display: none;
}*/

label	{
	float: left;
	text-align: left;
}

a	{
	cursor: pointer;
}

label#loginHeader {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 0;
	height: 20px;
}

input[type="text"], input[type="password"], .text, textarea, select {
	font-size: 11px;
	font-family: Verdana;
	color: #000000;
	border: solid 1px gray;
	padding: 3px;
	margin-bottom: 2px;
}
	
select { /*alisin nalang pag may nasira sa inyo - nok */
	height: 21px;
}

.text {
	font-size: 11px;
	font-family: Verdana;
	color: #000000;
	border: solid 1px gray;
	padding: 3px;
	margin-bottom: 3px;
}

.button	{
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*padding: 2px;*/
	padding: 2px 3px 2px 4px;
	cursor: pointer; /* irwin, 3.11.11*/
}

/* steve 09.10.2013 */
.button2{
	color: #003366;
	background-color: #bbbbbb;
	padding: 2px 3px 2px 4px;
	cursor: pointer;
	border-width:1px;
	border-style:solid;
	border-color:#666666;
}

.button2:hover	{
	color: #004499;
	background-color: #cccccc;
	border-color:#777777;
}

.button2:active {
	background-color: #bbbbbb;
	border-style:solid;
	border-color:#666666;
}

/* andrew 10.21.2011 */
.button:focus{
	-webkit-outline-radius: 3px;
	-moz-outline-radius: 3px;
	outline-radius: 3px;
	outline: 2px solid #FFFACD;
}

.disabledButton	{
	border: solid 1px #C0C0C0;
	background-color: #C0C0C0;
	color: #fff;
	/* padding: 2px; */ /* comment out by andrew - 01.24.2012 */
	padding: 2px 3px 2px 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.disabledButton2	{
	background-color:#cccccc;
	padding: 2px 3px 2px 4px;
	color: #888888;
	border-width:1px;
	border-style:solid;
	border-color:#999999;
}

input[value='Save'], input[value='Cancel'], input[value='Ok'], input[value='Copy'] {
	width: 80px;
}

input[value='Add'], input[value='Delete'], input[value='Update']{
	width: 65px;
}

/*
.disabledSubpage {
	background-color: #C0C0C0;
	color: #fff;
}*/

/*div#outerDiv {
	border: 1px solid #E0E0E0;
	width: 100%;
	margin: 1px 0;
	padding: 0;
}

div#innerDiv {
	padding: 5px;
	background-color: #D8D8D8;
	height: 15px;
	cursor: pointer;
	margin: 2px;
}

div#innerDiv:hover {
	background-color: #C0C0C0;
}*/

div#mainNav	{
	float: left;
	color: #fff;
	width: 100.2%;
}

div#loginDiv	{
	border: 1px solid #E0E0E0;
	width: 310px; 
	height: 170px;
	margin: 100px 30%; 
	padding: 10px;
	padding-bottom: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div#siteBanner	{
	z-index: 100000;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;	
	height: 72.1px;
}

img	{
	cursor: pointer;
	border: none;
}

.sectionTitle	{
	height: 20px;
	background-color: #E0E0E0;
	padding-left: 5px;
	padding-top: 5px;
}

.refreshers label	{
	float: right; 
	font-size: 10px; 
	cursor: pointer;
}

.refreshers label:hover	{
	font-weight: bold;
}

.sectionDiv, .transactionDiv, sectionDiv2{
	border: 1px solid #E0E0E0;
	width: 100%;
	padding: 0;
	float: left;
	margin-bottom: 1px;
}
.subSectionDiv{
	width: 100%;
	height: 255px;
	float: left;
	border-left: 0px;
	border-right: 0px;
/* 	border-bottom: 1px solid #E0E0E0; */
	padding: 0;
	  
	
}

.highlightTab	{
	background-color: #fff;
	color: #000;
}

.tableRow	{
	height: 20px; 
	border-bottom: 1px solid #E0E0E0; 
	padding: 3px; 
	padding-top: 7px;
	padding-left: 0;
}

.smallTableRow {
	border-bottom: 1px solid #E0E0E0; 
	width: 100%; 
	float: left;
}

.smallTableRow label {
	float: left; 
	margin: 5px;
}

/*.tableRow:hover {
	border-left: 5px solid #A0A0A0;
	border-right: 5px solid #A0A0A0;
	margin-left: -5px;
	margin-right: -5px;
}*/

div#footer	{
	/*margin: 0 auto;
	margin-top: 20px;*/
	position: fixed;
	margin: 0 auto;
	font-size: 10px;
	bottom: 0; 
	width: 923px;
	z-index: 500;
	/*border: 1px solid #E0E0E0;*/
	border: 1 px solid red;
}

div#footer a	{
	cursor: pointer;
	text-decoration: none;
	margin: 0 3px;
}

div.tableHeader	{
	background-color: #E0E0E0; 
	color: #808080;
	font-weight: bold; 
	height: 20px; 
	padding-top: 5px;
	
}

.disabled	{
	background-color: #E0E0E0;
}

.disabledGiexs006{
	background-color: #F0F0F0;
}

.money, .money2, .money4, .moneyRate, .moneyRate2, .percentRate, .fourDeciRate, .fourDeciRate2, .customRate, .shortRate, .discountRt, .surchargeRt, .money3, .nthDecimal, .nthDecimal2{
	text-align: right;
}

.discountSurchargeRate{
	text-align: right;
}	

div#opaqueOverlay	{
	background-color: #000;
	z-index: 10001;
	-moz-opacity: 0.4;
	opacity: .40;
	filter: alpha(opacity=40);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

div#contentHolder, .contentHolder	{
	z-index: 10002;
	position: absolute;
	background-color: #fff;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin: auto ;
}

.opaqueOverlay	{
	background-color: #000;
	z-index: 10001;
	-moz-opacity: 0.4;
	opacity: .40;
	filter: alpha(opacity=40);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.contentHolder	{
	z-index: 10002;
	position: absolute;
	background-color: #fff;
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: left;
}

div#messageAlert div#message	{
	height: 20px;
	padding: 5px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
}

.rightAligned	{
	text-align: right;
	font-size: 11px;
}

.rightAlignedWidth	{
	text-align: right;
	font-size: 11px;
	width: 18%;
}

.leftAligned {
	text-align: left;
	padding-left: 5px;
}

.leftAlignedWidth {
	text-align: left;
	padding-left: 5px;
	width: 33%;
}

.searchFieldBoxes {
	width: 250px;
	margin-left: 5px;
}

span#logout {
	 text-decoration: none;
	 cursor: pointer;
	 margin-right: 5px;
}

span#logout:hover {
	border-bottom: 1px dashed #fff;
}

span#logoutSpan {
	color: #fff;
}

div.toolbar {
	border: 1px solid #e8e8e8; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 99.8%;
	padding: 2px 0;
	margin-bottom: 2px; 
	margin-top: -3px; 
	height: 20px;
	background-color: #e8e8e8;
	font-size: 11px;
}

div.toolbar span {
	float: left; 
	width: 100%;
}

div.toolbar span label {
	float: left; 
	width: 60px; 
	text-align: center;
	cursor: pointer;
	padding: 3px 0;
}

div.toolbar span label:hover {
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

img {
	cursor: default;
}

img#go, img[alt="Go"] {
	cursor: pointer;
	margin: 2px 1px 0 0; 
	height: 17px; 
	width: 18px;
}

div#innerDiv label a:hover {
	border-bottom: 1px dashed #fff;
}

div#innerLabelDiv label a:hover {
	border-bottom: 1px dashed #fff;
}

label[name="closer"] {
	float: right;
	font-size: 9px;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
}

div.pager {
	width: 100%; 
	text-align: right;
}

div.tableContainer {
	font-size: 11px;
}

div.buttonsDiv {
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
	float: left;
	width: 100%;
}

div.buttonsDivPopup {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	float: right;
	text-align: center;
}

.hidden {
	display: none;
}

.systemMessageLinks {
	border-bottom: 1px dashed gray;
	margin: 0 10px;
}

.systemMessageLinks:hover {
	border-bottom: 1px solid gray;
}

.lblForCheckbox {
	width: 100%;
	text-align: right;
	cursor: pointer;
}

.lblForCheckbox:hover {
	border-bottom: 1px dashed #f0f0f0;
}

span#filterSpan, span#searchSpan, div#moreFilterDiv, .searchSpan {
	background-color: #e8e8e8; 
	position: absolute;
	/*right: 3%;*/
	font-size: 11px; 
	/*display: block;*/ 
	z-index: 10; 
	width: 27%;
	padding: 10px; 
	margin-top: 61px;
	border: 5px solid #c9c9c9; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.searchPolSpan {
	background-color: #e8e8e8; 
	position: absolute;
	right: 3%;
	font-size: 11px; 
	/*display: block;*/ 
	z-index: 10; 
	width: 47%;
	padding: 10px; 
	margin-top: 20px;
	border: 5px solid #c9c9c9; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div#outerDiv {
	width: 100%;
	margin: 1px 0;
	padding: 0;
	float: left;
}

div#innerDiv {
	padding: 3px;
	height: 15px;
	cursor: pointer;
	margin: 2px;
	font-size: 11px;
}

div#innerLabelDiv {
	padding: 3px;
	height: 15px;
	cursor: pointer;
	margin: 2px;
	font-size: 11px;
}

div#mediaUploaded img {
	cursor: pointer;
}

.optionTranserButton {
	width: 				50px;
}

.spanHeader {
	border-bottom: 		2px solid #e8e8e8; 
	width: 				100%; 
	margin-bottom: 		10px; 
	float: 				left; 
	font-weight: 		bold;
}

.required {		
	background-color: 	#FFFACD;
	/*background-color: 	#FFE4B5;*/
	/*background-color: 	#FFDEAD;*/
	/*background-color: 	cornsilk; #FFF8DC*/
}

table#additionalInformationTable{
	width: 				100%;
}

.acctLblSelected:hover {
	text-decoration: underline;
}

.acctTransLbl {
	background-color: #C0C0C0;
	-moz-border-radius-topright: 40px; 
	padding: 2px 10px 2px 10px; 
	line-height: 14px; 
	border: 1px solid gray;
}

input[type='checkbox'] {
	margin: 0 2px 0 2px;
}

.tabComponents1 ul, .tabComponents2 ul {
	padding-left: 10px;
	list-style-type: none;
}

.tabComponents1 li, .tabComponents2 li {
	/*position: relative;*/
	display: inline;
	float: left;
}

.tab1 {
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #B0B0B0;
	border-left: 1px solid #B0B0B0;
	border-right: 1px solid #B0B0B0;
	background-color: #E0E0E0;
	padding: 1px 2px 6px 2px;
	margin-left: 3px;
	color: inherit;
	/*border-bottom: 1px solid transparent;*/
	float: left;
}

.tab1 a {
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;	
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	padding: 5px 8px 0 8px;
	float: left;
}

.tabHover1{
	border-bottom: #E0E0E0;
	background-color: #D0D0D0;
}

.selectedTab1 {
	background-color: #FFFFFF;
	border-bottom: 1px solid transparent;
	font-weight: bold;
}

.tabBorderBottom1, .tabBorderBottom2 {	
	position: relative;
	left: 0px;
	top: -1px;
	z-index: -1;	
	border-top: 1px solid #B0B0B0;/*#E0E0E0;*/
	float: left;
	width: 100%;
	margin: 0;
	/*margin-bottom: 5px;*/
}

.tab2 {
	-moz-border-radius-topright: 4px;
	-webkit-border-radius-topright: 4px;
	-webkit-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
	border-radius-topright: 4px;
	border-top: 1px solid #B0B0B0;
	border-left: 1px solid #B0B0B0;
	border-right: 1px solid #B0B0B0;
	/*border-bottom: 1px solid transparent;*/
	background: #E0E0E0;
	padding: 3px 5px 4px 5px;
	margin-left: 3px;
	color: inherit;
	float: left;
}

.tabHover2 {
	border-bottom: #E0E0E0;
	background-color: #D0D0D0;
} 

.selectedTab2{
	background-color: #FFFFFF;
	border-bottom: 1px solid transparent;
}

#opaqueOverlay { 
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9010;
	border: 0;
}

.alphacube_buttons input {
	/*width: 20%;*/	
	margin-top: 5px;
	margin-left: 1px;
	margin-right: 1px;	
}

#contentHolder {
	z-index: 9011;
	margin: auto;
}

.lovRow	{
	height: 20px auto; 
	border-bottom: 1px solid #E0E0E0; 
	padding: 3px; 
	padding-top: 7px;
	padding-left: 1px;
	overflow:auto;
}

.hover:hover{
	cursor: pointer;
}

.lovSpan {
	border: 1px solid gray; 	
	height: 20px; 
	float: left; 
	margin-bottom: 2px;
}

.withIconDiv{
	border: 1px solid gray; 
	float: left; 
	height: 19px; 
	margin-right: 4px; 
	margin-top: 2px;
}

input[type="text"].withIcon{
	border: none;
	height: 12px; 
	margin-top: 0px; 
	float: left;
}

textarea.withIcon{
	border: none;
	height: 13px; 
	margin-top: 0px; 
	float: left;
}

div.roundCorner {
	border: 1px solid #E0E0E0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

/* Dashboard */
div.mk_icon {
	background: url(../images/dashboard/mk_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.mk_icon_2 {
	background: url(../images/dashboard/mk_icon_2.gif) center no-repeat;
	cursor: pointer;
}

div.uw_icon {
	background: url(../images/dashboard/uw_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.uw_icon_2 {
	background: url(../images/dashboard/uw_icon_2.gif) center no-repeat;
	cursor: pointer;
}

div.ac_icon {
	background: url(../images/dashboard/ac_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.ac_icon_2 {
	background: url(../images/dashboard/ac_icon_2.gif) center no-repeat;
	cursor: pointer;
}

div.cl_icon {
	background: url(../images/dashboard/cl_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.cl_icon_2 {
	background: url(../images/dashboard/cl_icon_2.gif) center no-repeat;
	cursor: pointer;
}

div.adhoc_icon {
	background: url(../images/dashboard/adhoc_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.adhoc_icon_2 {
	background: url(../images/dashboard/adhoc_icon_2.gif) center no-repeat;
	cursor: pointer;
}

div.security_icon {
	background: url(../images/dashboard/security_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.security_icon_2 {
	background: url(../images/dashboard/security_icon_2.gif) center no-repeat;
	cursor: pointer;
}

div.workflow_icon {
	background: url(../images/dashboard/workflow_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.workflow_icon_2 {
	background: url(../images/dashboard/workflow_icon_2.gif) center no-repeat;
	cursor: pointer;
}

div.sms_icon {
	background: url(../images/dashboard/sms_icon_1.gif) center no-repeat;
	cursor: pointer;
}

div.sms_icon_2 {
	background: url(../images/dashboard/sms_icon_2.gif) center no-repeat;
	cursor: pointer;
}

/* about geniisys */
div.aboutGeniisys {
	background: url(../images/misc/geniisys-logo.png) left no-repeat;
}

div.geniisysLogo {
	background: url(../images/about/geniisys_icon.gif) left no-repeat;
}

div#toolbarDiv {
	padding : 2px;
	height: 25px;
	font-size: 11px;
	background-color: #e8e8e8;
	float: left;
	width: 99.6%;
	margin : 1px 0;
	border: 1px solid #C8C8C8;
}

div#toolbarDiv span{
	cursor: pointer; 
	float: left; 
	color: #202020; 
	text-decoration: none; 
	padding: 2px 2px 2px 22px;
}

.toolButton{
	float: left;
	padding: 2px; 
	margin: 1px;
	border: 1px solid transparent; 
}

.toolButton:hover{
    background-color: #eef;
    border: 1px solid #ccc;
}