<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-init-method="init">

<!--	REncela 11.04.2010 GICLClaimsService -->
	<bean class="com.geniisys.gicl.service.impl.GICLClaimsServiceImpl"
			id="giclClaimsService" depends-on="giclClaimsDAO" >
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLClaimsDAOImpl"
	 		id="giclClaimsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<bean class="com.geniisys.gicl.service.impl.GICLAdviceServiceImpl"
			id="giclAdviceService" depends-on="giclAdviceDAO">
		<property name="giclAdviceDAO" ref="giclAdviceDAO"></property>	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLAdviceDAOImpl"
			id="giclAdviceDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLClaimLossExpenseServiceImpl"
			id="giclClaimLossExpenseService" depends-on="giclClaimLossExpenseDAO">
		<property name="giclClaimLossExpenseDAO" ref="giclClaimLossExpenseDAO"></property>	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLClaimLossExpenseDAOImpl"
			id="giclClaimLossExpenseDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	
	<!-- Claim Docs, Irwin tabisora 8.7.11 -->
	<bean class="com.geniisys.gicl.service.impl.GICLClmDocsServiceImpl" id="giclClmDocsService" depends-on="giclClmDocsDAO">
		<property name="giclClmDocsDAO" ref="giclClmDocsDAO" />	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLClmDocsDAOImpl" id="giclClmDocsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient" />	
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLReqdDocsServiceImpl" id="giclReqdDocsService" depends-on="giclReqdDocsDAO">
		<property name="giclReqdDocsDAO" ref="giclReqdDocsDAO"/>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLReqdDocsDAOImpl" id="giclReqdDocsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- GICLS010 Anthony Santos 8.10.11 -->
	<bean class="com.geniisys.gicl.service.impl.GICLCatDtlServiceImpl" id="giclCatDtlService" depends-on="giclCatDtlDAO">
		<property name="giclCatDtlDAO" ref="giclCatDtlDAO" />	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLCatDtlDAOImpl" id="giclCatDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient" />	
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLFireDtlServiceImpl"
		id="giclFireDtlService" depends-on="giclFireDtlDAO">
		<property name="giclFireDtlDAO" ref="giclFireDtlDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLFireDtlDAOImpl"
		id="giclFireDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>
	
	<!-- Rey 08.31.2011 -->
	<bean class="com.geniisys.gicl.service.impl.GICLCasualtyDtlServiceImpl"
		id="giclCasualtyDtlService" depends-on="giclCasualtyDtlDAO">
		<property name="giclCasualtyDtlDAO" ref="giclCasualtyDtlDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLCasualtyDtlDAOImpl"
		id="giclCasualtyDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>		
	
	<bean class="com.geniisys.gicl.service.impl.GICLProcessorHistServiceImpl"
		id="giclProcessorHistService" depends-on="giclProcessorHistDAO">
		<property name="giclProcessorHistDAO" ref="giclProcessorHistDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLProcessorHistDAOImpl"
		id="giclProcessorHistDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLClmStatHistServiceImpl"
		id="giclClmStatHistService" depends-on="giclClmStatHistDAO">
		<property name="giclClmStatHistDAO" ref="giclClmStatHistDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLClmStatHistDAOImpl"
		id="giclClmStatHistDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLItemPerilServiceImpl"
		id="giclItemPerilService" depends-on="giclItemPerilDAO">
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLItemPerilDAOImpl"
		id="giclItemPerilDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLMortgageeServiceImpl"
		id="giclMortgageeService" depends-on="giclMortgageeDAO">
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLMortgageeDAOImpl"
		id="giclMortgageeDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLClmAdjusterServiceImpl"
		id="giclClmAdjusterService" depends-on="giclClmAdjusterDAO">
		<property name="giclClmAdjusterDAO" ref="giclClmAdjusterDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLClmAdjusterDAOImpl"
		id="giclClmAdjusterDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLMotorCarDtlServiceImpl" id="giclMotorCarDtlService" depends-on="giclMotorCarDtlDAO">
		<property name="giclMotorCarDtlDAO" ref="giclMotorCarDtlDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLMotorCarDtlDAOImpl"
		id="giclMotorCarDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLEngineeringDtlServiceImpl" 
			id="giclEngineeringDtlService" depends-on="giclEngineeringDtlDAO">
		<property name="giclEngineeringDtlDAO" ref="giclEngineeringDtlDAO" />
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLEngineeringDtlDAOImpl" 
			id="giclEngineeringDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>

	<bean class="com.geniisys.gicl.service.impl.GICLClmItemServiceImpl"
		id="giclClmItemService" depends-on="giclClmItemDAO">
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLClmItemDAOImpl" 
		id="giclClmItemDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLCargoDtlServiceImpl" id="giclCargoDtlService" depends-on="giclCargoDtlDAO">
		<property name="giclCargoDtlDAO" ref="giclCargoDtlDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLCargoDtlDAOImpl"
		id="giclCargoDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLAviationDtlServiceImpl" id="giclAviationDtlService" depends-on="giclAviationDtlDAO">
		<property name="giclAviationDtlDAO" ref="giclAviationDtlDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLAviationDtlDAOImpl"
		id="giclAviationDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>
	
	<!-- Kris 11.13.2013: Private Adjuster -->
	<bean class="com.geniisys.common.service.impl.GIISAdjusterServiceImpl"
		id="giisAdjusterService" depends-on="giisAdjusterDAO">
		<property name="giisAdjusterDAO" ref="giisAdjusterDAO"></property>
	</bean>
	<bean class="com.geniisys.common.dao.impl.GIISAdjusterDAOImpl"
		id="giisAdjusterDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- Private Adjuster -->
	
	<bean class="com.geniisys.common.service.impl.GIISLossExpServiceImpl"
		id="giisLossExpService" depends-on="giisLossExpDAO">
		<property name="giisLossExpDAO" ref="giisLossExpDAO"></property>
	</bean>
	<bean class="com.geniisys.common.dao.impl.GIISLossExpDAOImpl"
		id="giisLossExpDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<bean class="com.geniisys.gicl.service.impl.GICLClmAdjHistServiceImpl"
		id="giclClmAdjHistService" depends-on="giclClmAdjHistDAO">
		<property name="giclClmAdjHistDAO" ref="giclClmAdjHistDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLClmAdjHistDAOImpl"
		id="giclClmAdjHistDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<!-- Rey 11-28-2011 -->
	<bean class="com.geniisys.gicl.service.impl.GICLMarineHullDtlServiceImpl"
		id="giclMarineHullDtlService" depends-on="giclMarineHullDtlDAO">
		<property name="giclMarineHullDtlDAO" ref="giclMarineHullDtlDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLMarineHullDtlDAOImpl"
		id="giclMarineHullDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>		
	
	<!--belle 11.29.2011 -->
	<bean class="com.geniisys.gicl.service.impl.GICLAccidentDtlServiceImpl" id="giclAccidentDtlService" depends-on="giclAccidentDtlDAO">
		<property name="giclAccidentDtlDAO" ref="giclAccidentDtlDAO"></property>
	
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLAccidentDtlDAOImpl"
		id="giclAccidentDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclClaimsDAO" ref="giclClaimsDAO"></property>
		<property name="giclClmItemDAO" ref="giclClmItemDAO"></property>
		<property name="giclMortgageeDAO" ref="giclMortgageeDAO"></property>
		<property name="giclItemPerilDAO" ref="giclItemPerilDAO"></property>
	</bean>

	<!-- irwin 12.8.2011 -->
	<bean class="com.geniisys.giac.service.impl.GIACBatchDVServiceImpl"
		id="giacBatchDVService" depends-on="giacBatchDVDAO">
		<property name="giacBatchDVDAO" ref="giacBatchDVDAO"></property>
	</bean>
	<bean class="com.geniisys.giac.dao.impl.GIACBatchDVDAOImpl"
		id="giacBatchDVDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<!-- Rey 09-12-2011 -->
	<bean class="com.geniisys.gicl.service.impl.GICLNoClaimMultiYyServiceImpl"
		id="giclNoClaimMultiYyService" depends-on="giclNoClaimMultiYyDAO">
		<property name="giclNoClaimMultiYyDAO" ref="giclNoClaimMultiYyDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLNoClaimMultiYyDAOImpl"
		id="giclNoClaimMultiYyDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>	

	<!-- Robert 12-09-2011 -->
	<bean class="com.geniisys.gicl.service.impl.GICLNoClaimServiceImpl" id="giclNoClaimService" depends-on="giclNoClaimDAO">
		<property name="giclNoClaimDAO" ref="giclNoClaimDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLNoClaimDAOImpl"
		id="giclNoClaimDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<!-- nica 12.06.2011 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLBatchCsrDAOImpl"
		id="giclBatchCsrDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLBatchCsrServiceImpl"
		id="giclBatchCsrService" depends-on="giclBatchCsrDAO" >
		<property name="giclBatchCsrDAO" ref="giclBatchCsrDAO"></property>
	</bean>

	<bean class="com.geniisys.gicl.dao.impl.GICLRecoveryPaytDAOImpl"
		id="giclRecoveryPaytDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLRecoveryPaytServiceImpl"
		id="giclRecoveryPaytService" depends-on="giclRecoveryPaytDAO">
		<property name="giclRecoveryPaytDAO" ref="giclRecoveryPaytDAO"></property>
	</bean>

	<bean class="com.geniisys.gicl.dao.impl.GICLClmRecoveryDAOImpl"
		id="giclClmRecoveryDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLClmRecoveryServiceimpl"
		id="giclClmRecoveryService" depends-on="giclClmRecoveryDAO">
		<property name="giclClmRecoveryDAO" ref="giclClmRecoveryDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLClmRecoveryDistDAOImpl"
		id="giclClmRecoveryDistDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
		<property name="giclRecoveryRidsDAO" ref="giclRecoveryRidsDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLClmRecoveryDistServiceImpl"
		id="giclClmRecoveryDistService" depends-on="giclClmRecoveryDistDAO">
		<property name="giclClmRecoveryDistDAO" ref="giclClmRecoveryDistDAO"></property>
	</bean>
	
	<!--  FOR BATCH - IRWIN, DEC. 20, 2011-->
	<bean class="com.geniisys.gicl.dao.impl.BatchDAOImpl"
		id="batchDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.BatchServiceImpl"
		id="batchService" depends-on="batchDAO">
		<property name="batchDAO" ref="batchDAO"></property>
	</bean>
	
	<!--  FOR MC EVAL - irwin -->
	<bean class="com.geniisys.gicl.dao.impl.GICLMcEvaluationDAOImpl"
		id="giclMcEvaluationDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLMcEvaluationServiceImpl"
		id="giclMcEvaluationService" depends-on="giclMcEvaluationDAO">
		<property name="giclMcEvaluationDAO" ref="giclMcEvaluationDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLEvalLoaDAOImpl"
		id="giclEvalLoaDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLEvalLoaServiceImpl"
		id="giclEvalLoaService" depends-on="giclEvalLoaDAO">
		<property name="giclEvalLoaDAO" ref="giclEvalLoaDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLEvalCslDAOImpl"
		id="giclEvalCslDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLEvalCslServiceImpl"
		id="giclEvalCslService" depends-on="giclEvalCslDAO">
		<property name="giclEvalCslDAO" ref="giclEvalCslDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLReplaceDAOImpl"
		id="giclReplaceDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLReplaceServiceImpl"
		id="giclReplaceService" depends-on="giclReplaceDAO">
		<property name="giclReplaceDAO" ref="giclReplaceDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLRepairHdrDAOImpl"
		id="giclRepairHdrDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLRepairHdrServiceImpl"
		id="giclRepairHdrService" depends-on="giclRepairHdrDAO">
		<property name="giclRepairHdrDAO" ref="giclRepairHdrDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLEvalDepDtlDAOImpl"
		id="giclEvalDepDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLEvalDepDtlServiceImpl"
		id="giclEvalDepDtlService" depends-on="giclEvalDepDtlDAO">
		<property name="giclEvalDepDtlDAO" ref="giclEvalDepDtlDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLEvalVatDAOImpl"
		id="giclEvalVatDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLEvalVatServiceImpl"
		id="giclEvalVatService" depends-on="giclEvalVatDAO">
		<property name="giclEvalVatDAO" ref="giclEvalVatDAO"></property>
	</bean>
	<!-- END -->
	<!-- Robert 01-17-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLTakeUpHistServiceImpl"
		 id="giclTakeUpHistService" depends-on="giclTakeUpHistDAO">
		<property name="giclTakeUpHistDAO" ref="giclTakeUpHistDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLTakeUpHistDAOImpl"
		id="giclTakeUpHistDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<!-- Marco 02-01-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLPrelimLossReportServiceImpl"
		id="giclPrelimLossReportService" depends-on="giclPrelimLossReportDAO">
		<property name="giclPrelimLossReportDAO" ref="giclPrelimLossReportDAO"></property>	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLPrelimLossReportDAOImpl"
		id="giclPrelimLossReportDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<!-- Nica 02-07-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLLossExpPayeesServiceImpl"
		 id="giclLossExpPayeesService" depends-on="giclLossExpPayeesDAO">
		<property name="giclLossExpPayeesDAO" ref="giclLossExpPayeesDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLLossExpPayeesDAOImpl"
		id="giclLossExpPayeesDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<!-- Nica 02-14-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLLossExpDtlServiceImpl"
		 id="giclLossExpDtlService" depends-on="giclLossExpDtlDAO">
		<property name="giclLossExpDtlDAO" ref="giclLossExpDtlDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLLossExpDtlDAOImpl"
		id="giclLossExpDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLLossExpDsServiceImpl"
		 id="giclLossExpDsService" depends-on="giclLossExpDsDAO">
		<property name="giclLossExpDsDAO" ref="giclLossExpDsDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLLossExpDsDAOImpl"
		id="giclLossExpDsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<!-- Nica 03-15-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLLossExpTaxServiceImpl"
		 id="giclLossExpTaxService" depends-on="giclLossExpTaxDAO">
		<property name="giclLossExpTaxDAO" ref="giclLossExpTaxDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLLossExpTaxDAOImpl"
		id="giclLossExpTaxDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<!-- Nica 03-22-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLLossExpBillServiceImpl"
		 id="giclLossExpBillService" depends-on="giclLossExpBillDAO">
		<property name="giclLossExpBillDAO" ref="giclLossExpBillDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLLossExpBillDAOImpl"
		id="giclLossExpBillDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLClmResHistDAOImpl"
		id="giclClmResHistDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLClmResHistServiceImpl"
		id="giclClmResHistService" depends-on="giclClmResHistDAO">
		<property name="giclClmResHistDAO" ref="giclClmResHistDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLReserveDsDAOImpl"
		id="giclReserveDsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLReserveDsServiceImpl"
		id="giclReserveDsService" depends-on="giclReserveDsDAO">
		<property name="giclReserveDsDAO" ref="giclReserveDsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLReserveRidsDAOImpl"
		id="giclReserveRidsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLReserveRidsServiceImpl"
		id="giclReserveRidsService" depends-on="giclReserveRidsDAO">
		<property name="giclReserveRidsDAO" ref="giclReserveRidsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLAdvsPlaDAOImpl"
		id="giclAdvsPlaDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLAdvsPlaServiceImpl"
		id="giclAdvsPlaService" depends-on="giclAdvsPlaDAO">
		<property name="giclAdvsPlaDAO" ref="giclAdvsPlaDAO"></property>
	</bean>
	
<!-- 	Roy Encela 02/24/2012 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLClaimReserveDAOImpl" id="giclClaimReserveDAO">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLClaimReserveServiceImpl" id="giclClaimReserveService">
		<property name="giclClaimReserveDAO" ref="giclClaimReserveDAO"></property>
	</bean>
	
	<!-- Marco 03-29-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLAdvsFlaServiceImpl"
		id="giclAdvsFlaService" depends-on="giclAdvsFlaDAO">
		<property name="giclAdvsFlaDAO" ref="giclAdvsFlaDAO"></property>	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLAdvsFlaDAOImpl"
		id="giclAdvsFlaDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLClmRecoveryDtlDAOImpl" 
		id="giclClmRecoveryDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLClmRecoveryDtlServiceImpl"
		id="giclClmRecoveryDtlService" depends-on="giclClmRecoveryDtlDAO">
		<property name="giclClmRecoveryDtlDAO" ref="giclClmRecoveryDtlDAO"></property>
	</bean>
	
	<!-- Marco 04-11-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLRecoveryRidsServiceImpl"
		id="giclRecoveryRidsService" depends-on="giclRecoveryRidsDAO">
		<property name="giclRecoveryRidsDAO" ref="giclRecoveryRidsDAO"></property>	
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLRecoveryRidsDAOImpl"
		id="giclRecoveryRidsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<!-- Nica 04-13-2012 -->
	<bean class="com.geniisys.gicl.service.impl.GICLEvalDeductiblesServiceImpl"
		 id="giclEvalDeductiblesService" depends-on="giclEvalDeductiblesDAO">
		<property name="giclEvalDeductiblesDAO" ref="giclEvalDeductiblesDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLEvalDeductiblesDAOImpl"
		id="giclEvalDeductiblesDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.service.impl.GICLAdvLineAmtServiceImpl"
		 id="giclAdvLineAmtService" depends-on="giclAdvLineAmtDAO">
		<property name="giclAdvLineAmtDAO" ref="giclAdvLineAmtDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLAdvLineAmtDAOImpl"
		id="giclAdvLineAmtDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	
	<!-- Shan 12.19.2012 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLFunctionOverrideDAOImpl" id="giclFunctionOverrideDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLFunctionOverrideServiceImpl" id="giclFunctionOverrideService" 
		depends-on="giclFunctionOverrideDAO">
		<property name="giclFunctionOverrideDAO" ref="giclFunctionOverrideDAO"></property>	
	</bean>
	<!--  -->

	<!--Gzelle 11.07.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLRepairTypeDAOImpl" id="giclRepairTypeDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLRepairTypeServiceImpl" id="repairTypeService" depends-on="giclRepairTypeDAO">
		<property name="giclRepairTypeDAO" ref="giclRepairTypeDAO"></property>
	</bean>	
	<!--end -->	

	<!--Gzelle 11.08.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLMcPartCostDAOImpl" id="giclMcPartCostDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLMcPartCostServiceImpl" id="mcPartCostService" depends-on="giclMcPartCostDAO">
		<property name="giclMcPartCostDAO" ref="giclMcPartCostDAO"></property>
	</bean>	
	<!--end -->		
	
	<!--Gzelle 2.11.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLClaimListingInquiryDAOImpl"
		id="giclClaimListingInquiryDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLClaimListingInquiryServiceImpl" 
		id="giclClaimListingInquiryService" depends-on="giclClaimListingInquiryDAO">
		<property name="giclClaimListingInquiryDAO" ref="giclClaimListingInquiryDAO"></property>
	</bean>
	<!--end -->
	
	<!--Bonok 3.18.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLBrdrxClmsRegisterDAOImpl"
		id="giclBrdrxClmsRegisterDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLBrdrxClmsRegisterServiceImpl" 
		id="giclBrdrxClmsRegisterService" depends-on="giclBrdrxClmsRegisterDAO">
		<property name="giclBrdrxClmsRegisterDAO" ref="giclBrdrxClmsRegisterDAO"></property>
	</bean>
	<!--end -->
	
	<!--Nica 04.12.2013  -->
	<bean class="com.geniisys.gicl.service.impl.GICLExpPayeesServiceImpl"
		 id="giclExpPayeesService" depends-on="giclExpPayeesDAO">
		<property name="giclExpPayeesDAO" ref="giclExpPayeesDAO"></property>
	</bean>
	<bean class="com.geniisys.gicl.dao.impl.GICLExpPayeesDAOImpl"
		id="giclExpPayeesDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!--end -->
	
	<!--Kenneth L. 05.21.2013  -->
	<bean class="com.geniisys.gicl.service.impl.GICLReassignClaimRecordServiceImpl"
		 id="giclReassignClaimRecordService" depends-on="giclReassignClaimRecordDAO">
		<property name="giclReassignClaimRecordDAO" ref="giclReassignClaimRecordDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLReassignClaimRecordDAOImpl"
		id="giclReassignClaimRecordDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!--end -->
	
	<!--Fons 05.03.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLClaimTableMaintenanceDAOImpl"
		id="giclClaimTableMaintenanceDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLClaimTableMaintenanceServiceImpl" 
		id="giclClaimTableMaintenanceService" depends-on="giclClaimTableMaintenanceDAO">
		<property name="giclClaimTableMaintenanceDAO" ref="giclClaimTableMaintenanceDAO"></property>
	</bean>
	<!--end -->
	
	<!--Aliza Garza 06.04.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLClaimPaymentDAOImpl"
		id="giclClaimPaymentDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
		<!-- added by john dolon 7.19.2013 -->
	<bean class="com.geniisys.gicl.service.impl.GICLClaimPaymentServiceImpl" 
		id="giclClaimPaymentService" depends-on="giclClaimPaymentDAO">		
		<property name="giclClaimPaymentDAO" ref="giclClaimPaymentDAO"></property> 
	</bean> <!-- end of added bean class-->
	<!--end -->	
	
	<!-- Dwight 06.11.13 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLLossRecoveryPaymentDAOImpl"
		id="giclLossRecoveryPaymentDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLLossRecoveryPaymentServiceImpl" 
		id="giclLossRecoveryPaymentService" depends-on="giclLossRecoveryPaymentDAO">
		<property name="giclLossRecoveryPaymentDAO" ref="giclLossRecoveryPaymentDAO"></property>
	</bean>
	<!-- end -->
	
	<!-- Windell Valle 06.25.13 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLLossRecoveryStatusDAOImpl"
		id="giclLossRecoveryStatusDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLLossRecoveryStatusServiceImpl" 
		id="giclLossRecoveryStatusService" depends-on="giclLossRecoveryStatusDAO">
		<property name="giclLossRecoveryStatusDAO" ref="giclLossRecoveryStatusDAO"></property>
	</bean>
	<!-- end -->
	
	<!-- jomsdiago 07.22.2013 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLBiggestClaimDAOImpl"
		id="giclBiggestClaimDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLBiggestClaimServiceImpl" 
		id="giclBiggestClaimService" depends-on="giclBiggestClaimDAO">
		<property name="giclBiggestClaimDAO" ref="giclBiggestClaimDAO"></property>
	</bean>
	
	<!--Bonok 7.30.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLLossRatioDAOImpl"
		id="giclLossRatioDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLLossRatioServiceImpl" 
		id="giclLossRatioService" depends-on="giclLossRatioDAO">
		<property name="giclLossRatioDAO" ref="giclLossRatioDAO"></property>
	</bean>
	<!--end -->
	
	<!-- Kris 07.29.2013 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLGeneratePLAFLADAOImpl"
		id="giclGeneratePLAFLADAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLGeneratePLAFLAServiceImpl" 
		id="giclGeneratePLAFLAService" depends-on="giclGeneratePLAFLADAO">
		<property name="giclGeneratePLAFLADAO" ref="giclGeneratePLAFLADAO"></property>
	</bean>
	
	<!-- Kris 08.08.2013 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLPrintPLAFLADAOImpl"
		id="giclPrintPLAFLADAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLPrintPLAFLAServiceImpl" 
		id="giclPrintPLAFLAService" depends-on="giclPrintPLAFLADAO">
		<property name="giclPrintPLAFLADAO" ref="giclPrintPLAFLADAO"></property>
	</bean>
	
	<!-- Steven 07.25.2013 -->
	<bean class="com.geniisys.gicl.dao.impl.GICLBatchOSPrintingDAOImpl"
		id="giclBatchOSPrintingDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLBatchOSPrintingServiceImpl" 
		id="giclBatchOSPrintingService" depends-on="giclBatchOSPrintingDAO">
		<property name="giclBatchOSPrintingDAO" ref="giclBatchOSPrintingDAO"></property>
	</bean>
	<!--Fons 08.27.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLReasonsDAOImpl"
		id="giclReasonsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLReasonsServiceImpl" 
		id="giclReasonsService" depends-on="giclReasonsDAO">
		<property name="giclReasonsDAO" ref="giclReasonsDAO"></property>
	</bean>
	<!--end -->	
	
	<!--Bonok 9.02.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLLossProfileDAOImpl"
		id="giclLossProfileDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLLossProfileServiceImpl" 
		id="giclLossProfileService" depends-on="giclLossProfileDAO">
		<property name="giclLossProfileDAO" ref="giclLossProfileDAO"></property>
	</bean>
	<!--end -->

	<!--Fons 08.29.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLDrvrOccptnDAOImpl"
		id="giclDrvrOccptnDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLDrvrOccptnServiceImpl" 
		id="giclDrvrOccptnService" depends-on="giclDrvrOccptnDAO">
		<property name="giclDrvrOccptnDAO" ref="giclDrvrOccptnDAO"></property>
	</bean>
	<!--end -->	
	<!--John 9.9.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLCatastrophicEventDAOImpl"
		id="giclCatastrophicEventDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLCatastrophicEventServiceImpl" 
		id="giclCatastrophicEventService" depends-on="giclCatastrophicEventDAO">
		<property name="giclCatastrophicEventDAO" ref="giclCatastrophicEventDAO"></property>
	</bean>
	<!--end -->
	
	<!--John 10.23.2013  -->
	<bean class="com.geniisys.gicl.dao.impl.GICLLossExpSettlementDAOImpl"
		id="giclLossExpSettlementDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLLossExpSettlementServiceImpl" 
		id="giclLossExpSettlementService" depends-on="giclLossExpSettlementDAO">
		<property name="giclLossExpSettlementDAO" ref="giclLossExpSettlementDAO"></property>
	</bean>
	<!--end -->
	
	<bean class="com.geniisys.common.dao.impl.GIISRecoveryStatusDAOImpl"
		id="giisRecoveryStatusDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.common.service.impl.GIISRecoveryStatusServiceImpl" 
		id="giisRecoveryStatusService" depends-on="giisRecoveryStatusDAO">
		<property name="giisRecoveryStatusDAO" ref="giisRecoveryStatusDAO"></property>
	</bean>
	
	
	<bean class="com.geniisys.gicl.dao.impl.GICLMcLpsDAOImpl" id="giclMcLpsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLMcLpsServiceImpl" id="giclMcLpsService" depends-on="giclMcLpsDAO">
		<property name="giclMcLpsDAO" ref="giclMcLpsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLReportDocumentDAOImpl" id="giclReportDocumentDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLReportDocumentServiceImpl" id="giclReportDocumentService" depends-on="giclReportDocumentDAO">
		<property name="giclReportDocumentDAO" ref="giclReportDocumentDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLRepSignatoryDAOImpl" id="giclRepSignatoryDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLRepSignatoryServiceImpl" id="giclRepSignatoryService" depends-on="giclRepSignatoryDAO">
		<property name="giclRepSignatoryDAO" ref="giclRepSignatoryDAO"></property>
	</bean>
	
	<bean class="com.geniisys.common.dao.impl.GIISLossTaxesDAOImpl" id="giisLossTaxesDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.common.service.impl.GIISLossTaxesServiceImpl" id="giisLossTaxesService" depends-on="giisLossTaxesDAO">
		<property name="giisLossTaxesDAO" ref="giisLossTaxesDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gicl.dao.impl.GICLMcDepreciationDAOImpl" id="giclMcDepreciationDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gicl.service.impl.GICLMcDepreciationServiceImpl" id="giclMcDepreciationService" depends-on="giclMcDepreciationDAO">
		<property name="giclMcDepreciationDAO" ref="giclMcDepreciationDAO"></property>
	</bean>
</beans>