<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-init-method="init">

	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteDAOImpl" id="gipiQuoteDAO"
		depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteFacadeServiceImpl"
		id="gipiQuoteFacadeService" depends-on="gipiQuoteDAO" >
		<property name="gipiQuoteDAO" ref="gipiQuoteDAO" />
	</bean>

	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemDAOImpl" id="gipiQuoteItemDAO"
		depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemPerilDAOImpl"
		id="gipiQuoteItemPerilDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>

	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemFacadeServiceImpl"
		id="gipiQuoteItemFacadeService" depends-on="gipiQuoteItemDAO" >
		<property name="gipiQuoteItemDAO" ref="gipiQuoteItemDAO" />
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuoteItemPerilFacadeServiceImpl"
		id="gipiQuoteItemPerilFacadeService" depends-on="gipiQuoteItemPerilDAO"
		>
		<property name="gipiQuoteItemPerilDAO" ref="gipiQuoteItemPerilDAO" />
	</bean>

	<!-- package Cris 05/21/2010 -->
	<bean class="com.geniisys.gipi.pack.dao.impl.GIPIPackQuoteDAOImpl" id="gipiPackQuoteDAO"
		depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.gipi.pack.service.impl.GIPIPackQuoteServiceImpl"
		id="gipiPackQuoteService" depends-on="gipiPackQuoteDAO" >
		<property name="gipiPackQuoteDAO" ref="gipiPackQuoteDAO" />
	</bean>

	<!-- INVOICE -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteInvoiceDAOImpl"
		id="gipiQuoteInvoiceDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteInvoiceFacadeServiceImpl" id="gipiQuoteInvoiceFacadeService" depends-on="gipiQuoteInvoiceDAO">
		<property name="gipiQuoteInvoiceDAO" ref="gipiQuoteInvoiceDAO" />
	</bean>
	<!-- END OF INVOICE -->

	<!-- INVTAX FOR INVOICE -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteInvTaxDAOImpl" id="gipiQuoteInvTaxDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteInvTaxFacadeServiceImpl"
		id="gipiQuoteInvTaxFacadeService" depends-on="gipiQuoteInvTaxDAO"
		>
		<property name="gipiQuoteInvTaxDAO" ref="gipiQuoteInvTaxDAO" />
	</bean>
	<!-- END OF INVTAX FOR INVOICE -->

	<!-- Mortgagee - Whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteMortgageeDAOImpl"
		id="gipiQuoteMortgageeDao" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuoteMortgageeFacadeServiceImpl"
		id="gipiQuoteMortgageeFacadeService" depends-on="gipiQuoteMortgageeDao"
		>
		<property name="gipiQuoteMortgageeDao" ref="gipiQuoteMortgageeDao" />
	</bean>
	<!-- end of Mortgagee -->

	<!-- Warranty and Clauses - whofeih-->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteWarrantyAndClauseDAOImpl"
		id="gipiQuoteWarrantyAndClauseDao" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuoteWarrantyAndClauseFacadeServiceImpl"
		id="gipiQuoteWarrantyAndClausesFacadeService" depends-on="gipiQuoteWarrantyAndClauseDao"
		>
		<property name="gipiQuoteWarrantyAndClauseDAO" ref="gipiQuoteWarrantyAndClauseDao"></property>
	</bean>
	<!-- end Warranty and Clauses -->

	<!-- Deductibles -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteDeductiblesDAOImpl"
		id="gipiQuoteDeductiblesDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuoteDeductiblesFacadeServiceImpl"
		id="gipiQuoteDeductiblesFacadeService" depends-on="gipiQuoteWarrantyAndClauseDao"
		>
		<property name="gipiQuoteDeductiblesDAO" ref="gipiQuoteDeductiblesDAO"></property>
	</bean>
	<!-- end Deductibles -->
	
	<bean class="com.geniisys.quote.dao.impl.GIPIDeductiblesDAOImpl"
		id="gipiDeductiblesDAO2" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.quote.service.impl.GIPIDeductiblesServiceImpl"
		id="gipiDeductiblesService2" depends-on="gipiDeductiblesDAO2">
		<property name="gipiDeductiblesDAO2" ref="gipiDeductiblesDAO2"></property>
	</bean>	

	<!-- Motor Additional Information - whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemMCDAOImpl"
		id="gipiQuoteItemMCDao" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemMCServiceImpl"
		id="gipiQuoteItemMCService" depends-on="gipiQuoteItemMCDao" >
		<property name="gipiQuoteItemMCDAO" ref="gipiQuoteItemMCDao"></property>
	</bean>
	<!-- end Motor Additional Information -->

	<!-- Fire Additional Information - toni -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemFIDAOImpl"
		id="gipiQuoteItemFIDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemFIFacadeServiceImpl"
		id="gipiQuoteItemFIFacadeService" depends-on="gipiQuoteItemFIDAO"
		>
		<property name="gipiQuoteItemFIDAO" ref="gipiQuoteItemFIDAO"></property>
	</bean>
	<!-- End of Fire Additional Information -->

	<!-- Accident Additional Information - toni -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemACDAOImpl"
		id="gipiQuoteItemACDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemACFacadeServiceImpl"
		id="gipiQuoteItemACFacadeService" depends-on="gipiQuoteItemACDAO"
		>
		<property name="gipiQuoteItemACDAO" ref="gipiQuoteItemACDAO"></property>
	</bean>
	<!-- End of Accident Additional Information -->

	<!-- Accident Additional Information - whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemAVDAOImpl"
		id="gipiQuoteItemAVDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemAVServiceImpl"
		id="gipiQuoteItemAVService" depends-on="gipiQuoteItemAVDAO" >
		<property name="gipiQuoteItemAVDAO" ref="gipiQuoteItemAVDAO"></property>
	</bean>
	<!-- End of Aviation Additional Information -->

	<!-- Casualty Additional Information - whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemCADAOImpl"
		id="gipiQuoteItemCADAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemCAServiceImpl"
		id="gipiQuoteItemCAService" depends-on="gipiQuoteItemCADAO" >
		<property name="gipiQuoteItemCADAO" ref="gipiQuoteItemCADAO"></property>
	</bean>
	<!-- End of Casualty Additional Information -->

	<!-- Engineering Additional Information - whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemENDAOImpl"
		id="gipiQuoteItemENDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemENServiceImpl"
		id="gipiQuoteItemENService" depends-on="gipiQuoteItemENDAO" >
		<property name="gipiQuoteItemENDAO" ref="gipiQuoteItemENDAO"></property>
	</bean>
	<!-- End of Engineering Additional Information -->

   <!-- Carrier Information -->
   <bean class="com.geniisys.gipi.dao.impl.GIPIQuoteVesAirDAOImpl"
		id="gipiQuoteVesAirDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteVesAirServiceImpl"
		id="gipiQuoteVesAirService" depends-on="gipiQuoteVesAirDAO"
		>
		<property name="gipiQuoteVesAirDAO" ref="gipiQuoteVesAirDAO" />
	</bean>
    <!-- End of Carrier Information -->

	<!-- Marine Cargo Additional Information - whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemMNDAOImpl"
		id="gipiQuoteItemMNDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemMNServiceImpl"
		id="gipiQuoteItemMNService" depends-on="gipiQuoteItemMNDAO" >
		<property name="gipiQuoteItemMNDAO" ref="gipiQuoteItemMNDAO"></property>
	</bean>
	<!-- End of Marine Cargo Additional Information -->

	<!-- Marine Hull Additional Information - whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemMHDAOImpl"
		id="gipiQuoteItemMHDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteItemMHServiceImpl"
		id="gipiQuoteItemMHService" depends-on="gipiQuoteItemMHDAO" >
		<property name="gipiQuoteItemMHDAO" ref="gipiQuoteItemMHDAO"></property>
	</bean>
	<!-- End of Marine Hull Additional Information -->	
	
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuotePolicyBasicDiscountDAOImpl"
		id="gipiQuotePolicyBasicDiscountDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuotePolicyBasicDiscountFacadeServiceImpl"
		id="gipiQuotePolicyBasicDiscountFacadeService" depends-on="gipiQuotePolicyBasicDiscountDAO"
		>
		<property name="gipiQuotePolicyBasicDiscountDAO" ref="gipiQuotePolicyBasicDiscountDAO" />
	</bean>

	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemDiscountDAOImpl"
		id="gipiQuoteItemDiscountDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuoteItemDiscountFacadeServiceImpl"
		id="gipiQuoteItemDiscountFacadeService" depends-on="gipiQuoteItemDiscountDAO,gipiQuoteItemDAO"
		>
		<property name="gipiQuoteItemDiscountDAO" ref="gipiQuoteItemDiscountDAO" />
		<property name="gipiQuoteItemDAO" ref="gipiQuoteItemDAO" />
	</bean>

	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteItemPerilDiscountDAOImpl"
		id="gipiQuoteItemPerilDiscountDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuoteItemPerilDiscountFacadeServiceImpl"
		id="gipiQuoteItemPerilDiscountFacadeService" depends-on="gipiQuoteItemPerilDiscountDAO"
		>
		<property name="gipiQuoteItemPerilDiscountDAO" ref="gipiQuoteItemPerilDiscountDAO" />
	</bean>

	<!-- GIPIQuotePolItemPerilDiscountService -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuotePolItemPerilDiscountDAOImpl"
		id="gipiQuotePolItemPerilDiscountDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.gipi.service.impl.GIPIQuotePolItemPerilDiscountServiceImpl"
		id="gipiQuotePolItemPerilDiscountService" depends-on="gipiQuotePolItemPerilDiscountDAO"
		>
		<property name="gipiQuotePolItemPerilDiscountDAO" ref="gipiQuotePolItemPerilDiscountDAO" />
	</bean>

	<!-- File Upload - whofeih -->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuotePicturesDAOImpl"
		id="gipiQuotePicturesDao" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuotePicturesServiceImpl"
		id="gipiQuotePicturesService" depends-on="gipiQuotePicturesDao" >
		<property name="gipiQuotePicturesDAO" ref="gipiQuotePicturesDao"></property>
	</bean>
	<!-- end of file upload -->	
	
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteBondBasicDAOImpl"
		id="gipiQuoteBondBasicDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteBondBasicServiceImpl"
		id="gipiQuoteBondBasicService" depends-on="gipiQuoteBondBasicDAO">
		<property name="gipiQuoteBondBasicDAO" ref="gipiQuoteBondBasicDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuoteCosignDAOImpl"
		id="gipiQuoteCosignDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuoteCosignServiceImpl"
		id="gipiQuoteCosignService" depends-on="gipiQuoteCosignDAO">
		<property name="gipiQuoteCosignDAO" ref="gipiQuoteCosignDAO"></property>
	</bean>
	
		<!-- GIPIQuotePrincipalService Tonio april 16, 2011-->
	<bean class="com.geniisys.gipi.dao.impl.GIPIQuotePrincipalDAOImpl" id="gipiQuotePrincipalDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.gipi.service.impl.GIPIQuotePrincipalServiceImpl" id="gipiQuotePrincipalService" depends-on="gipiQuotePrincipalDAO">
		<property name="gipiQuotePrincipalDAO" ref="gipiQuotePrincipalDAO" />
	</bean>
	
	<bean class="com.geniisys.quote.dao.impl.GIPIQuoteAVItemDAOImpl"
		id="gipiQuoteAVItemDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuoteAVItemServiceImpl"
		id="gipiQuoteAVItemService" depends-on="gipiQuoteAVItemDAO">
		<property name="gipiQuoteAVItemDAO" ref="gipiQuoteAVItemDAO"></property>
	</bean>
	
	<bean class="com.geniisys.quote.dao.impl.GIPIQuoteCAItemDAOImpl"
		id="gipiQuoteCAItemDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuoteCAItemServiceImpl"
		id="gipiQuoteCAItemService" depends-on="gipiQuoteCAItemDAO">
		<property name="gipiQuoteCAItemDAO" ref="gipiQuoteCAItemDAO"></property>
	</bean>
	
	<bean class="com.geniisys.gipi.service.impl.GIPIQuotationFacadeServiceImpl" id="gipiQuotationFacadeService">
		
	</bean>
	
	<bean class="com.geniisys.quote.dao.impl.GIPIQuoteInvoiceDAOImpl"
		id="gipiQuoteInvoiceDAO2" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuoteInvoiceServiceImpl"
		id="gipiQuoteInvoiceService" depends-on="gipiQuoteInvoiceDAO2">
		<property name="gipiQuoteInvoiceDAO2" ref="gipiQuoteInvoiceDAO2"></property>
	</bean>
	
	<bean class="com.geniisys.quote.dao.impl.GIPIQuoteItmperilDAOImpl"
		id="gipiQuoteItmperilDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuoteItmperilServiceImpl"
		id="gipiQuoteItmperilService" depends-on="gipiQuoteItmperilDAO">
		<property name="gipiQuoteItmperilDAO" ref="gipiQuoteItmperilDAO"></property>
	</bean>
	
	<bean class="com.geniisys.quote.dao.impl.GIPIQuoteDAOImpl"
		id="gipiQuoteDAO2" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuoteServiceImpl"
		id="gipiQuoteService" depends-on="gipiQuoteDAO2">
		<property name="gipiQuoteDAO2" ref="gipiQuoteDAO2"></property>
	</bean>
		
	<bean class="com.geniisys.quote.dao.impl.GIPIQuoteItmmortgageeDAOImpl"
		id="gipiQuoteItmmortgageeDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuoteItmmortgageeServiceImpl"
		id="gipiQuoteItmmortgageeService" depends-on="gipiQuoteItmmortgageeDAO">
		<property name="gipiQuoteItmmortgageeDAO" ref="gipiQuoteItmmortgageeDAO"></property>
	</bean>
	
	<bean class="com.geniisys.quote.dao.impl.GIPIQuoteItemDAOImpl"
		id="gipiQuoteItemDAO2" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuoteItemServiceImpl"
		id="gipiQuoteItemService" depends-on="gipiQuoteItemDAO2">
		<property name="gipiQuoteItemDAO2" ref="gipiQuoteItemDAO2"></property>
	</bean>
	
	<bean class="com.geniisys.quote.dao.impl.GIPIQuotePicturesDAOImpl"
		id="gipiQuotePicturesDAO2" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.quote.service.impl.GIPIQuotePicturesServiceImpl"
		id="gipiQuotePicturesService2" depends-on="gipiQuotePicturesDAO2">
		<property name="gipiQuotePicturesDAO2" ref="gipiQuotePicturesDAO2"></property>
	</bean>
	
</beans>