<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-init-method="init">
	
	<bean class="com.geniisys.giac.dao.impl.GIACModulesDAOImpl" id="giacModulesDAO" 
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACModulesServiceImpl" id="giacModulesService" 
		depends-on="giacModulesDAO">
		<property name="giacModulesDAO" ref="giacModulesDAO"></property>
	</bean>
		
	<bean class="com.geniisys.giac.dao.impl.GIACPdcPremCollnDAOImpl" id="giacPdcPremCollnDAO" 
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACPdcPremCollnServiceImpl" id="giacPdcPremCollnService" 
		depends-on="giacPdcPremCollnDAO">
		<property name="giacPdcPremCollnDAO" ref="giacPdcPremCollnDAO"></property>
	</bean>
	
	<!--  ABioc 11.23.2010 GIACTaxCollns -->
	<bean id="giacTaxCollnsDAO" class="com.geniisys.giac.dao.impl.GIACTaxCollnsDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacTaxCollnsService" class="com.geniisys.giac.service.impl.GIACTaxCollnsServiceImpl"
		depends-on="giacTaxCollnsDAO">
		<property name="giacTaxCollnsDAO" ref="giacTaxCollnsDAO"></property>
	</bean>
	
	<!-- DAlcantara 11.30.2010 GIACAcctEntries -->
	<bean id="giacAcctEntriesDAO" class="com.geniisys.giac.dao.impl.GIACAcctEntriesDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacAcctEntriesService" class="com.geniisys.giac.service.impl.GIACAcctEntriesServiceImpl"
		depends-on="giacAcctEntriesDAO">
		<property name="giacAcctEntriesDAO" ref="giacAcctEntriesDAO"></property>
	</bean>
	
	<!-- ABioc 12.22.2010 GIACAdvancedPayt -->
	<bean id="giacAdvancedPaytDAO" class="com.geniisys.giac.dao.impl.GIACAdvancedPaytDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="giacAdvancedPaytService" class="com.geniisys.giac.service.impl.GIACAdvancedPaytServiceImpl"
		depends-on="giacAdvancedPaytDAO">
		<property name="giacAdvancedPaytDAO" ref="giacAdvancedPaytDAO"></property>
	</bean>
	
	<!-- tonio 4.28.2011 GIACReinstatedOr -->
	<bean id="giacReinstatedOrDAO" class="com.geniisys.giac.dao.impl.GIACReinstatedOrDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacReinstatedOrService" class="com.geniisys.giac.service.impl.GIACReinstatedOrServiceImpl"
		depends-on="giacReinstatedOrDAO">
		<property name="giacReinstatedOrDAO" ref="giacReinstatedOrDAO"></property>
	</bean>
	
	<!-- Accounting Beans -->
	
	<!-- giacparameters -->
	<bean class="com.geniisys.giac.dao.impl.GIACParameterDAOImpl"
		id="giacParameterDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACParameterFacadeServiceImpl"
		id="giacParameterFacadeService" depends-on="giacParameterDAO" >
		<property name="giacParameterDAO" ref="giacParameterDAO" />
	</bean>
	<!-- END OF giacparameters-->
		
	<!-- GIAC Branch Tonio 06212010-->	
	<bean class="com.geniisys.giac.dao.impl.GIACBranchDAOImpl"
		id="giacBranchDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACBranchServiceImpl"
		id="giacBranchService" depends-on="giacBranchDAO"
		>
		<property name="giacBranchDAO" ref="giacBranchDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACOutFaculPremPaytsDAOImpl"
		id="giacOutFaculPremPaytDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACOutFaculPremPaytsServiceImpl"
		id="giacOutFaculPremPaytService" depends-on="giacOutFaculPremPaytDAO">
		<property name="giacOutFaculPremPaytDAO" ref="giacOutFaculPremPaytDAO" />
	</bean>
	
	<!-- GIACUnidentifiedCollns Tonio 121510-->	
	<bean class="com.geniisys.giac.dao.impl.GIACUnidentifiedCollnsDAOImpl"
		id="giacUnidentifiedCollnsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACUnidentifiedCollnsServiceImpl"
		id="giacUnidentifiedCollnsService" depends-on="giacUnidentifiedCollnsDAO"
		>
		<property name="giacUnidentifiedCollnsDAO" ref="giacUnidentifiedCollnsDAO" />
	</bean>
	<!-- END GIACUnidentifiedCollns Tonio 121510-->	
	
	<!-- GIACChartOfAccts Tonio 121610-->
	<bean class="com.geniisys.giac.dao.impl.GIACChartOfAcctsDAOImpl"
		id="giacChartOfAcctsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACChartOfAcctsServiceImpl"
		id="giacChartOfAcctsService" depends-on="giacChartOfAcctsDAO"
		>
		<property name="giacChartOfAcctsDAO" ref="giacChartOfAcctsDAO" />
	</bean>
	<!-- END GIACChartOfAccts Tonio 121610-->
	
	<bean class="com.geniisys.giac.dao.impl.GIACCollnBatchDAOImpl"
		id="giacCollnBatchDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACCollnBatchServiceImpl"
		id="giacCollnService" depends-on="giacCollnBatchDAO"
		>
		<property name="giacCollnBatchDAO" ref="giacCollnBatchDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACDCBUserDAOImpl"
		id="giacDCBUserDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACDCBUserServiceImpl"
		id="giacDCBUserService" depends-on="giacDCBUserDAO"
		>
		<property name="giacDCBUserDAO" ref="giacDCBUserDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACOrderOfPaymentDAOImpl"
		id="giacOrderOfPaymentDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACOrderOfPaymentServiceImpl"
		id="giacOrderOfPaymentService" depends-on="giacOrderOfPaymentDAO"
		>
		<property name="giacOrderOfPaymentDAO" ref="giacOrderOfPaymentDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACCollectionDtlDAOImpl"
		id="giacCollectionDtlDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean
		class="com.geniisys.giac.service.impl.GIACPremDepositServiceImpl"
		id="giacPremDepositService" depends-on="giacPremDepositDAO"
		>
		<property name="giacPremDepositDAO" ref="giacPremDepositDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACPremDepositDAOImpl"
		id="giacPremDepositDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.giac.service.impl.GIACCommPaytsServiceImpl"
		id="giacCommPaytsService" depends-on="giacCommPaytsDAO" scope="singleton">
		<property name="giacCommPaytsDAO" ref="giacCommPaytsDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACCommPaytsDAOImpl"
		id="giacCommPaytsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean class="com.geniisys.giac.service.impl.GIACOvrideCommPaytsServiceImpl"
		id="giacOvrideCommPaytsService" depends-on="giacOvrideCommPaytsDAO" scope="singleton">
		<property name="giacOvrideCommPaytsDAO" ref="giacOvrideCommPaytsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACOvrideCommPaytsDAOImpl"
		id="giacOvrideCommPaytsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean
		class="com.geniisys.giac.service.impl.GIACCollectionDtlServiceImpl"
		id="giacCollectionDtlService" depends-on="giacCollectionDtlDAO"
		>
		<property name="giacCollectionDtlDAO" ref="giacCollectionDtlDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACInwFaculPremCollnsDAOImpl"
		id="giacInwFaculPremCollnsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACInwFaculPremCollnsServiceImpl"
		id="giacInwFaculPremCollnsService" depends-on="giacInwFaculPremCollnsDAO"
		>
		<property name="giacInwFaculPremCollnsDAO" ref="giacInwFaculPremCollnsDAO" />
	</bean>
	<!-- tonio aug 6, 2010 -->
	<bean class="com.geniisys.giac.dao.impl.GIACDirectPremCollnsDAOImpl"
		id="giacDirectPremCollnsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACDirectPremCollnsServiceImpl"
		id="giacDirectPremCollnsService" depends-on="giacDirectPremCollnsDAO"
		>
		<property name="giacDirectPremCollnsDAO" ref="giacDirectPremCollnsDAO" />
		<property name="gipiInstallmentService"  ref="gipiInstallmentService"/>
		<property name="gipiPolService" 	 ref="gipiPolbasicService"/>
		<property name="giacModulesService"	 	 ref = "giacModulesService"/>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACAgingSoaDetailDAOImpl"
		id="giacAgingSoaDetailDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACAgingSoaDetailServiceImpl"
		id="giacAgingSoaDetailService" depends-on="giacAgingSoaDetailDAO"
		>
		<property name="giacAgingSoaDetailDAO" ref="giacAgingSoaDetailDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACAccTransDAOImpl"
		id="giacAccTransDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACAccTransServiceImpl"
		id="giacAccTransService" depends-on="giacAccTransDAO"
		>
		<property name="giacAccTransDAO" ref="giacAccTransDAO" />
	</bean>
	
	<!-- Jerome Orio 09.20.2010 giacInputVatService -->
	<bean class="com.geniisys.giac.dao.impl.GIACInputVatDAOImpl" 
		id="giacInputVatDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACInputVatServiceImpl"
		id="giacInputVatService" depends-on="giacInputVatDAO">
		<property name="giacInputVatDAO" ref="giacInputVatDAO"></property>
	</bean>
	
	<!-- Jerome Orio 10.06.2010 giacLossRecoveriesService -->
	<bean class="com.geniisys.giac.dao.impl.GIACLossRecoveriesDAOImpl"
		id="giacLossRecoveriesDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACLossRecoveriesServiceImpl"
		id="giacLossRecoveriesService" depends-on="giacLossRecoveriesDAO">
		<property name="giacLossRecoveriesDAO" ref="giacLossRecoveriesDAO"></property>
	</bean>

	<!-- REncela	10.07.2010 GIACDirectClaimPayment GIACS017 -->
	<bean class="com.geniisys.giac.dao.impl.GIACDirectClaimPaymentDAOImpl"
		  id="giacDirectClaimPaymentDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACDirectClaimPaymentServiceImpl"
		  id="giacDirectClaimPaymentService" depends-on="giacDirectClaimPaymentDAO">
		<property name="giacDirectClaimPaymentDAO" ref="giacDirectClaimPaymentDAO"></property>
	</bean>

	<!-- Jerome Orio 10.22.2010 giacLossRiCollnsService -->
	<bean class="com.geniisys.giac.dao.impl.GIACLossRiCollnsDAOImpl"
		id="giacLossRiCollnsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACLossRiCollnsServiceImpl"
		id="giacLossRiCollnsService" depends-on="sqlMapClient">
		<property name="giacLossRiCollnsDAO" ref="giacLossRiCollnsDAO"></property>
	</bean>
	
	<!-- Emman 10.26.2010 giacInwClaimPaytsService -->
	<bean class="com.geniisys.giac.service.impl.GIACInwClaimPaytsServiceImpl"
		id="giacInwClaimPaytsService" depends-on="giacInwClaimPaytsDAO" scope="singleton">
		<property name="giacInwClaimPaytsDAO" ref="giacInwClaimPaytsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACInwClaimPaytsDAOImpl"
		id="giacInwClaimPaytsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<bean class="com.geniisys.giac.service.impl.GIACOpTextServiceImpl"
		id="giacOpTextService" depends-on="giacOpTextDAO">
		<property name="giacOpTextDAO" ref="giacOpTextDAO"></property>
	</bean>
	<bean class="com.geniisys.giac.dao.impl.GIACOpTextDAOImpl"
		id="giacOpTextDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACTranMmDAOImpl" id="giacTranMmDAO" 
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACTranMmServiceImpl" id="giacTranMmService" 
		depends-on="giacTranMmDAO">
		<property name="giacTranMmDAO" ref="giacTranMmDAO"></property>
	</bean>
	
	<!-- GIACOthFundOffCollns Nica 12.14.2010 -->
	<bean class="com.geniisys.giac.dao.impl.GIACOthFundOffCollnsDAOImpl" id="giacOthFundOffCollnsDAO"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACOthFundOffCollnsServiceImpl" id="giacOthFundOffCollnsService"
		depends-on="giacOthFundOffCollnsDAO">
		<property name="giacOthFundOffCollnsDAO" ref="giacOthFundOffCollnsDAO"></property>
	</bean>

	<!-- GIAC_AGING_RI_SOA_DETAILS (emman 11/05/10) -->
	<bean class="com.geniisys.giac.dao.impl.GIACAgingRiSoaDetailsDAOImpl"
		id="giacAgingRiSoaDetailsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACAgingRiSoaDetailsServiceImpl"
		id="giacAgingRiSoaDetailsService" depends-on="giacAgingRiSoaDetailsDAO"
		>
		<property name="giacAgingRiSoaDetailsDAO" ref="giacAgingRiSoaDetailsDAO" />
	</bean>

	<!-- GIACTaxesWHeld - emman 11/30/2010 -->
	<bean class="com.geniisys.giac.service.impl.GIACTaxesWheldServiceImpl"
		id="giacTaxesWheldService" depends-on="giacTaxesWheldDAO" scope="singleton">
		<property name="giacTaxesWheldDAO" ref="giacTaxesWheldDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACTaxesWheldDAOImpl"
		id="giacTaxesWheldDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- end of GIACTaxesWheld -->
	
	<!-- GIACWholdingTaxes - emman 12/02/2010 -->
	<bean class="com.geniisys.giac.service.impl.GIACWholdingTaxesServiceImpl"
		id="giacWholdingTaxesService" depends-on="giacWholdingTaxesDAO" scope="singleton">
		<property name="giacWholdingTaxesDAO" ref="giacWholdingTaxesDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACWholdingTaxesDAOImpl"
		id="giacWholdingTaxesDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- end of GIACWholdingTaxes -->
	
	<!-- GIACSlLists - emman 12/02/2010 -->
	<bean class="com.geniisys.giac.service.impl.GIACSlListsServiceImpl"
		id="giacSlListsService" depends-on="giacSlListsDAO" scope="singleton">
		<property name="giacSlListsDAO" ref="giacSlListsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACSlListsDAOImpl"
		id="giacSlListsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- end of GIACSlLists -->

	<!-- GIACApdcPayt - angelo 01.28.2011 -->
	<bean class="com.geniisys.giac.dao.impl.GIACApdcPaytDAOImpl" id="giacApdcPaytDAO"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient" ></property>	
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACApdcPaytServiceImpl" id="giacApdcPaytService"
		depends-on="giacApdcPaytDAO">
		<property name="giacApdcPaytDAO" ref="giacApdcPaytDAO"></property>
		<property name="giacBranchService" ref="giacBranchService"></property>
		<property name="giisUserFacadeService" ref="giisUserFacadeService"></property>
		<property name="giacDCBUserService" ref="giacDCBUserService"></property>
	</bean>
	<!-- end giacApdcPayt -->
	
	<!-- GIACApdcPaytDtl - angelo 02.01.2011 -->
	<bean class="com.geniisys.giac.dao.impl.GIACApdcPaytDtlDAOImpl" id="giacApdcPaytDtlDAO"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACApdcPaytDtlServiceImpl" id="giacApdcPaytDtlService"
		depends-on="giacApdcPaytDtlDAO">
		<property name="giacApdcPaytDtlDAO" ref="giacApdcPaytDtlDAO"></property>	
	</bean>
	<!-- end giacApdcPaytDtl -->

	<!--  GIACPdcReplace - angelo 02/18/2011 -->
	<bean class="com.geniisys.giac.dao.impl.GIACPdcReplaceDAOImpl"
		id="giacPdcReplaceDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACPdcReplaceServiceImpl"
		id="giacPdcReplaceService" depends-on="giacPdcReplaceDAO">
		<property name="giacPdcReplaceDAO" ref="giacPdcReplaceDAO" />	
	</bean>
	<!--  end of GIACPdcReplace -->
	
	<!-- GIACCommSlip - d.alcantara 0./17/2011 -->
	<bean class="com.geniisys.giac.dao.impl.GIACCommSlipDAOImpl"
		id="giacCommSlipDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACCommSlipServiceImpl"
		id="giacCommSlipService" depends-on="giacCommSlipDAO">
		<property name="giacCommSlipDAO" ref="giacCommSlipDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACCommSlipExtDAOImpl" id="giacCommSlipExtDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACCommSlipExtServiceImpl" id="giacCommSlipExtService" depends-on="giacCommSlipExtDAO">
		<property name="giacCommSlipExtDAO" ref="giacCommSlipExtDAO"></property>
	</bean>
	
	<!-- GIACDCBBankDep - emman (03.18.2011) -->
	<bean class="com.geniisys.giac.dao.impl.GIACDCBBankDepDAOImpl"
		id="giacDCBBankDepDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACDCBBankDepServiceImpl"
		id="giacDCBBankDepService" depends-on="giacDCBBankDepDAO"
		>
		<property name="giacDCBBankDepDAO" ref="giacDCBBankDepDAO" />
		<property name="giacAccTransService" ref="giacAccTransService" />
	</bean>
	
	<!-- GIACBankAccounts - emman (04.05.2011) -->
	<bean class="com.geniisys.giac.dao.impl.GIACBankAccountsDAOImpl"
		id="giacBankAccountsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACBankAccountsServiceImpl"
		id="giacBankAccountsService" depends-on="giacBankAccountsDAO"
		>
		<property name="giacBankAccountsDAO" ref="giacBankAccountsDAO" />
	</bean>
	
	<!-- GIACSpoiledOr - andrew - 04.08.2011 -->
	<bean class="com.geniisys.giac.dao.impl.GIACSpoiledOrDAOImpl"
		id="giacSpoiledOrDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACSpoiledOrServiceImpl" 
		id="giacSpoiledOrService" depends-on="giacSpoiledOrDAO">
		<property name="giacSpoiledOrDAO" ref="giacSpoiledOrDAO" />
	</bean>	
	
	<!-- GIACBankDepSlips - emman (04.15.2011) -->
	<bean class="com.geniisys.giac.dao.impl.GIACBankDepSlipsDAOImpl"
		id="giacBankDepSlipsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACBankDepSlipsServiceImpl"
		id="giacBankDepSlipsService" depends-on="giacBankDepSlipsDAO"
		>
		<property name="giacBankDepSlipsDAO" ref="giacBankDepSlipsDAO" />
	</bean>
	
	<!-- GIACBankDepSlips - emman (05.17.2011) -->
	<bean class="com.geniisys.giac.dao.impl.GIACUserFunctionsDAOImpl"
		id="giacUserFunctionsDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACUserFunctionsServiceImpl"
		id="giacUserFunctionsService" depends-on="giacUserFunctionsDAO">
		<property name="giacUserFunctionsDAO" ref="giacUserFunctionsDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACFunctionDAOImpl"
		id="giacFunctionDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean
		class="com.geniisys.giac.service.impl.GIACFunctionServiceImpl"
		id="giacFunctionService" depends-on="giacFunctionDAO">
		<property name="giacFunctionDAO" ref="giacFunctionDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACPaytRequestsDAOImpl"
		id="giacPaytRequestsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACPaytRequestsServiceImpl"
		id="giacPaytRequestsService" depends-on="giacPaytRequestsDAO">
		<property name="giacPaytRequestsDAO" ref="giacPaytRequestsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACPaytRequestsDtlDAOImpl"
		id="giacPaytRequestsDtlDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACPaytRequestsDtlServiceImpl"
		id="giacPaytRequestsDtlService" depends-on="giacPaytRequestsDtlDAO">
		<property name="giacPaytRequestsDtlDAO" ref="giacPaytRequestsDtlDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACDisbVouchersDAOImpl"
		id="giacDisbVouchersDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACDisbVouchersServiceImpl"
		id="giacDisbVouchersService" depends-on="giacDisbVouchersDAO">
		<property name="giacDisbVouchersDAO" ref="giacDisbVouchersDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACChkDisbursementDAOImpl"
		id="giacChkDisbursementDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACChkDisbursementServiceImpl"
		id="giacChkDisbursementService" depends-on="giacChkDisbursementDAO">
		<property name="giacChkDisbursementDAO" ref="giacChkDisbursementDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACChkReleaseInfoDAOImpl"
		id="giacChkReleaseInfoDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACChkReleaseInfoServiceImpl"
		id="giacChkReleaseInfoService" depends-on="giacChkReleaseInfoDAO">
		<property name="giacChkReleaseInfoDAO" ref="giacChkReleaseInfoDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACReplenishDvDAOImpl"
		id="giacReplenishDvDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACReplenishDvServiceImpl"
		id="giacReplenishDvService" depends-on="giacReplenishDvDAO">
		<property name="giacReplenishDvDAO" ref="giacReplenishDvDAO"></property>
	</bean>
	
	<!--GIUTS022 - Change In Payment Term Kenenth L. 04.24.2013-->
	<bean class="com.geniisys.giuts.dao.impl.GIUTSChangeInPaymentTermDAOImpl"
		id="giutsChangeInPaymentTermDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giuts.service.impl.GIUTSChangeInPaymentTermServiceImpl"
		id="giutsChangeInPaymentTermService" depends-on="giutsChangeInPaymentTermDAO">
		<property name="giutsChangeInPaymentTermDAO" ref="giutsChangeInPaymentTermDAO"></property>
	</bean>
	<!--end-->
	
	<!--Inquiry - Transaction Status Gzelle 03.01.2013-->
	<!-- Modified by shan 08.23.2013: added DAO -->
	<bean id="giacInquiryDAO" class="com.geniisys.giac.dao.impl.GIACInquiryDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="giacInquiryService" class="com.geniisys.giac.service.impl.GIACInquiryServiceImpl"	depends-on="giacInquiryDAO">
		<property name="giacInquiryDAO" ref="giacInquiryDAO"/>
	</bean>
	<!--end-->
	
	<!--Gzelle 05.09.2013 GIACS044-->
	<bean id="giacDeferredDAO" class="com.geniisys.giac.dao.impl.GIACDeferredDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacDeferredService" class="com.geniisys.giac.service.impl.GIACDeferredServiceImpl"
		depends-on="giacDeferredDAO">
		<property name="giacDeferredDAO" ref="giacDeferredDAO"></property>
	</bean>
	<!--END GIACS044-->	

	<!--Gzelle 12.02.2013 GIACS360-->
	<bean id="giacProdBudgetDAO" class="com.geniisys.giac.dao.impl.GIACProdBudgetDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="prodBudgetService" class="com.geniisys.giac.service.impl.GIACProdBudgetServiceImpl"
		depends-on="giacProdBudgetDAO">
		<property name="giacProdBudgetDAO" ref="giacProdBudgetDAO"></property>
	</bean>
	<!--END GIACS044-->		
	
	<!-- added by Kris 03.20.2013: GIACS071 Credit/Debit Memo -->
	<bean class="com.geniisys.giac.dao.impl.GIACMemoDAOImpl"
		id="giacMemoDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACMemoServiceImpl"
		id="giacMemoService" depends-on="giacMemoDAO">
		<property name="giacMemoDAO" ref="giacMemoDAO"></property>
	</bean>
	<!-- end 03.20.2013: GIACS071 Credit/Debit Memo -->

	<!-- added by steven 03.18.2013 - GIACS003 -->
	<bean id="giacJournalEntryDAO" class="com.geniisys.giac.dao.impl.GIACJournalEntryDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacJournalEntryService" class="com.geniisys.giac.service.impl.GIACJournalEntryServiceImpl"
		depends-on="giacJournalEntryDAO">
		<property name="giacJournalEntryDAO" ref="giacJournalEntryDAO"></property>
	</bean>
	<!--end-->
	
	<!-- added by steven 04.11.2013 - GIACB000 -->
	<bean id="giacBatchAcctEntryDAO" class="com.geniisys.giac.dao.impl.GIACBatchAcctEntryDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacBatchAcctEntryService" class="com.geniisys.giac.service.impl.GIACBatchAcctEntryServiceImpl"
		depends-on="giacBatchAcctEntryDAO">
		<property name="giacBatchAcctEntryDAO" ref="giacBatchAcctEntryDAO"></property>
	</bean>
	<!--end-->
	
	<bean id="giacDisbursementUtilitiesDAO" class="com.geniisys.giac.dao.impl.GIACDisbursementUtilitiesDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacDisbursementUtilitiesService" class="com.geniisys.giac.service.impl.GIACDisbursementUtilitiesServiceImpl"
		depends-on="giacDisbursementUtilitiesDAO">
		<property name="giacDisbursementUtilitiesDAO" ref="giacDisbursementUtilitiesDAO"></property>
	</bean>
	
	<bean id="giacUpdateCheckStatusDAO" class="com.geniisys.giac.dao.impl.GIACUpdateCheckStatusDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacUpdateCheckStatusService" class="com.geniisys.giac.service.impl.GIACUpdateCheckStatusServiceImpl"
		depends-on="giacUpdateCheckStatusDAO">
		<property name="giacUpdateCheckStatusDAO" ref="giacUpdateCheckStatusDAO"></property>
	</bean>
	
	<!-- kenenth L. 06.07.2013-->
	<bean class="com.geniisys.giac.dao.impl.GIACOtherCollnsDAOImpl"
		id="giacOtherCollnsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACOtherCollnsServiceImpl"
		id="giacOtherCollnsService" depends-on="giacOtherCollnsDAO">
		<property name="giacOtherCollnsDAO" ref="giacOtherCollnsDAO"></property>
	</bean>
	<!--end-->
	
	<!-- added by Kris 04.30.2013: GIACS180 Statement of Account -->
	<bean class="com.geniisys.giac.dao.impl.GIACCreditAndCollectionReportsDAOImpl"
		id="giacCreditAndCollectionReportsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACCreditAndCollectionReportsServiceImpl"
		id="giacCreditAndCollectionReportsService" depends-on="giacCreditAndCollectionReportsDAO">
		<property name="giacCreditAndCollectionReportsDAO" ref="giacCreditAndCollectionReportsDAO"></property>
	</bean>
	<!-- end 04.30.2013: GIACS180 Statement of Account -->

	<bean id="giacGeneralLedgerReportDAO" class="com.geniisys.giac.dao.impl.GIACGeneralLedgerReportDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="giacGeneralLedgerReportService" class="com.geniisys.giac.service.impl.GIACGeneralLedgerReportServiceImpl" 
			depends-on="giacGeneralLedgerReportDAO">
		<property name="giacGeneralLedgerReportDAO" ref="giacGeneralLedgerReportDAO"></property>
	</bean>
	
	<bean id="giacDataCheckDAO" class="com.geniisys.giac.dao.impl.GIACDataCheckDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACDataCheckServiceImpl"
		id="giacDataCheckService" depends-on="giacDataCheckDAO">
		<property name="giacDataCheckDAO" ref="giacDataCheckDAO" />
	</bean>
	
	<bean id="giacCopyJVDAO" class="com.geniisys.giac.dao.impl.GIACCopyJVDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACCopyJVServiceImpl"
		id="giacCopyJVService" depends-on="giacCopyJVDAO">
		<property name="giacCopyJVDAO" ref="giacCopyJVDAO" />
	</bean>
	
	
	<bean id="giacCashReceiptsReportDAO" class="com.geniisys.giac.dao.impl.GIACCashReceiptsReportDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- shan 06.20.2013 :: added DAO -->
	<bean id="giacCashReceiptsReportService" class="com.geniisys.giac.service.impl.GIACCashReceiptsReportServiceImpl"
			depends-on="giacCashReceiptsReportDAO">
		<property name="giacCashReceiptsReportDAO" ref="giacCashReceiptsReportDAO"></property>
	</bean>
		
	<bean class="com.geniisys.giac.dao.impl.GIACTrialBalanceDAOImpl"
		id="giacTrialBalanceDAO" depends-on="sqlMapClient" >
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="giacCloseGLDAO" class="com.geniisys.giac.dao.impl.GIACCloseGLDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacCloseGLService" class="com.geniisys.giac.service.impl.GIACCloseGLServiceImpl"
		depends-on="giacCloseGLDAO">
		<property name="giacCloseGLDAO" ref="giacCloseGLDAO"></property>
	</bean>
	
	<bean
		class="com.geniisys.giac.service.impl.GIACTrialBalanceServiceImpl"
		id="giacTrialBalanceService" depends-on="giacTrialBalanceDAO">
		<property name="giacTrialBalanceDAO" ref="giacTrialBalanceDAO"></property>
	</bean>
	
	<!-- shan 05.27.2013 -->
	<bean id="giacPostEntriesToGLDAO" class="com.geniisys.giac.dao.impl.GIACPostEntriesToGLDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacPostEntriesToGLService" class="com.geniisys.giac.service.impl.GIACPostEntriesToGLServiceImpl" 
			depends-on="giacPostEntriesToGLDAO">
		<property name="giacPostEntriesToGLDAO" ref="giacPostEntriesToGLDAO"></property>
	</bean>


	<!-- shan 06.03.2013 -->
	<bean id="giacUpdateCheckNumberDAO" class="com.geniisys.giac.dao.impl.GIACUpdateCheckNumberDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacUpdateCheckNumberService" class="com.geniisys.giac.service.impl.GIACUpdateCheckNumberServiceImpl" 
		depends-on="giacUpdateCheckNumberDAO">
		<property name="giacUpdateCheckNumberDAO" ref="giacUpdateCheckNumberDAO"></property>
	</bean>
	

	<bean class="com.geniisys.giac.service.impl.GIACTaxPaymentsServiceImpl"
		id="giacTaxPaymentsService" depends-on="giacTaxPaymentsDAO">
		<property name="giacTaxPaymentsDAO" ref="giacTaxPaymentsDAO"></property>	
	</bean>
	<bean class="com.geniisys.giac.dao.impl.GIACTaxPaymentsDAOImpl"
		id="giacTaxPaymentsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="giacCommissionVoucherDAO" class="com.geniisys.giac.dao.impl.GIACCommissionVoucherDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACCommissionVoucherServiceImpl"
		id="giacCommissionVoucherService" depends-on="giacCommissionVoucherDAO">
		<property name="giacCommissionVoucherDAO" ref="giacCommissionVoucherDAO" />
	</bean>
	
	<bean class="com.geniisys.giac.service.impl.GIACTaxesServiceImpl"
		id="giacTaxesService" depends-on="giacTaxesDAO">
		<property name="giacTaxesDAO" ref="giacTaxesDAO"></property>	
	</bean>
	<bean class="com.geniisys.giac.dao.impl.GIACTaxesDAOImpl"
		id="giacTaxesDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<!-- mikel 06.05.2013-->
	<bean class="com.geniisys.giac.service.impl.GIACReinsuranceInquiryServiceImpl"
		id="giacReinsuranceInquiryService">
	</bean>
	
	<bean id="giacReinsuranceReportsDAO" class="com.geniisys.giac.dao.impl.GIACReinsuranceReportsDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacReinsuranceReportsService" class="com.geniisys.giac.service.impl.GIACReinsuranceReportsServiceImpl" 
			depends-on="giacReinsuranceReportsDAO">
		<property name="giacReinsuranceReportsDAO" ref="giacReinsuranceReportsDAO"></property>
	</bean>
	
	<bean id="giacEndOfMonthReportsDAO" class="com.geniisys.giac.dao.impl.GIACEndOfMonthReportsDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacEndOfMonthReportsService" class="com.geniisys.giac.service.impl.GIACEndOfMonthReportsServiceImpl" 
			depends-on="giacEndOfMonthReportsDAO">
		<property name="giacEndOfMonthReportsDAO" ref="giacEndOfMonthReportsDAO"></property>
	</bean>

	<!-- shan 06.28.2013 -->
	<bean id="giacGeneralDisbReportDAO" class="com.geniisys.giac.dao.impl.GIACGeneralDisbReportDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="giacGeneralDisbReportService" class="com.geniisys.giac.service.impl.GIACGeneralDisbReportServiceImpl" 
			depends-on="giacGeneralDisbReportDAO">
		<property name="giacGeneralDisbReportDAO" ref="giacGeneralDisbReportDAO"></property>
	</bean>
	
	<bean id="giacUploadingDAO" class="com.geniisys.giac.dao.impl.GIACUploadingDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="giacUploadingService" class="com.geniisys.giac.service.impl.GIACUploadingServiceImpl" 
			depends-on="giacUploadingDAO">
		<property name="giacUploadingDAO" ref="giacUploadingDAO"></property>
	</bean>
	
	<bean id="giacCreditAndCollectionUtilitiesDAO" class="com.geniisys.giac.dao.impl.GIACCreditAndCollectionUtilitiesDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacCreditAndCollectionUtilitiesService" class="com.geniisys.giac.service.impl.GIACCreditAndCollectionUtilitiesServiceImpl" 
			depends-on="giacCreditAndCollectionUtilitiesDAO">
		<property name="giacCreditAndCollectionUtilitiesDAO" ref="giacCreditAndCollectionUtilitiesDAO"></property>
	</bean>
	
	<bean id="giacOucsDAO" class="com.geniisys.giac.dao.impl.GIACOucsDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean id="giacOucsService" class="com.geniisys.giac.service.impl.GIACOucsServiceImpl" 
			depends-on="giacOucsDAO">
		<property name="giacOucsDAO" ref="giacOucsDAO"></property>
	</bean>	
	
	<bean class="com.geniisys.giac.service.impl.GIACRecapDtlExtServiceImpl"
		id="giacRecapDtlExtService" depends-on="giacRecapDtlExtDAO">
		<property name="giacRecapDtlExtDAO" ref="giacRecapDtlExtDAO"></property>	
	</bean>
	<bean class="com.geniisys.giac.dao.impl.GIACRecapDtlExtDAOImpl"
		id="giacRecapDtlExtDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="giacFileSourceDAO" class="com.geniisys.giac.dao.impl.GIACFileSourceDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacFileSourceService" class="com.geniisys.giac.service.impl.GIACFileSourceServiceImpl" depends-on="giacFileSourceDAO">
		<property name="giacFileSourceDAO" ref="giacFileSourceDAO"></property>
	</bean>
	
	<bean id="giacSlTypeDAO" class="com.geniisys.giac.dao.impl.GIACSlTypeDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacSlTypeService" class="com.geniisys.giac.service.impl.GIACSlTypeServiceImpl" depends-on="giacSlTypeDAO">
		<property name="giacSlTypeDAO" ref="giacSlTypeDAO"></property>
	</bean>	
	
	<bean id="giacBankDAO" class="com.geniisys.giac.dao.impl.GIACBankDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacBankService" class="com.geniisys.giac.service.impl.GIACBankServiceImpl" depends-on="giacBankDAO">
		<property name="giacBankDAO" ref="giacBankDAO"></property>
	</bean>	
	
	<bean id="giacJvTranDAO" class="com.geniisys.giac.dao.impl.GIACJvTranDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacJvTranService" class="com.geniisys.giac.service.impl.GIACJvTranServiceImpl" depends-on="giacJvTranDAO">
		<property name="giacJvTranDAO" ref="giacJvTranDAO"></property>
	</bean>	
	
	<bean id="giacBudgetDAO" class="com.geniisys.giac.dao.impl.GIACBudgetDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacBudgetService" class="com.geniisys.giac.service.impl.GIACBudgetServiceImpl" depends-on="giacBudgetDAO">
		<property name="giacBudgetDAO" ref="giacBudgetDAO"></property>
	</bean>		
	
	<bean id="giacPaytReqDocDAO" class="com.geniisys.giac.dao.impl.GIACPaytReqDocDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacPaytReqDocService" class="com.geniisys.giac.service.impl.GIACPaytReqDocServiceImpl" depends-on="giacPaytReqDocDAO">
		<property name="giacPaytReqDocDAO" ref="giacPaytReqDocDAO"></property>
	</bean>		
	
	<bean class="com.geniisys.gixx.service.impl.GIXXProdBudgetServiceImpl"
		id="gixxProdBudgetService" depends-on="gixxProdBudgetDAO">
		<property name="gixxProdBudgetDAO" ref="gixxProdBudgetDAO"></property>	
	</bean>
	<bean class="com.geniisys.gixx.dao.impl.GIXXProdBudgetDAOImpl"
		id="gixxProdBudgetDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean class="com.geniisys.giac.service.impl.GIACAmlaCoveredTransactionServiceImpl"
		id="giacAmlaCoveredTransactionService" depends-on="giacAmlaCoveredTransactionDAO">
		<property name="giacAmlaCoveredTransactionDAO" ref="giacAmlaCoveredTransactionDAO"></property>	
	</bean>
	<bean class="com.geniisys.giac.dao.impl.GIACAmlaCoveredTransactionDAOImpl"
		id="giacAmlaCoveredTransactionDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<!--Gzelle 10.10.2013 GIACS354-->
	<bean id="giacBatchCheckDAO" class="com.geniisys.giac.dao.impl.GIACBatchCheckDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacBatchCheckService" class="com.geniisys.giac.service.impl.GIACBatchCheckServiceImpl"
		depends-on="giacBatchCheckDAO">
		<property name="giacBatchCheckDAO" ref="giacBatchCheckDAO"></property>
	</bean>
	<!--END GIACS354-->	
	
	<!--john dolon 10.25.2013-->
	<bean id="giacSoaTitleDAO" class="com.geniisys.giac.dao.impl.GIACSoaTitleDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacSoaTitleService" class="com.geniisys.giac.service.impl.GIACSoaTitleServiceImpl"
		depends-on="giacSoaTitleDAO">
		<property name="giacSoaTitleDAO" ref="giacSoaTitleDAO"></property>
	</bean>	
	<bean id="giacUsersDAO" class="com.geniisys.giac.dao.impl.GIACUsersDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacUsersService" class="com.geniisys.giac.service.impl.GIACUsersServiceImpl"
		depends-on="giacUsersDAO">
		<property name="giacUsersDAO" ref="giacUsersDAO"></property>
	</bean>
	
	<bean id="giacModuleEntryDAO" class="com.geniisys.giac.dao.impl.GIACModuleEntryDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacModuleEntryService" class="com.geniisys.giac.service.impl.GIACModuleEntryServiceImpl"
		depends-on="giacModuleEntryDAO">
		<property name="giacModuleEntryDAO" ref="giacModuleEntryDAO"></property>
	</bean>
	
	<!--Fons 11.07.2013 GIISS094-->
	<bean id="giisCaTrtyTypeDAO" class="com.geniisys.common.dao.impl.GIISCaTrtyTypeDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giisCaTrtyTypeService" class="com.geniisys.common.service.impl.GIISCaTrtyTypeServiceImpl"
		depends-on="giisCaTrtyTypeDAO">
		<property name="giisCaTrtyTypeDAO" ref="giisCaTrtyTypeDAO"></property>
	</bean>
	<!--END GIISS094-->	
	
	<!--john dolon 11.13.2013-->
	<bean id="giacDocSequenceDAO" class="com.geniisys.giac.dao.impl.GIACDocSequenceDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacDocSequenceService" class="com.geniisys.giac.service.impl.GIACDocSequenceServiceImpl"
		depends-on="giacDocSequenceDAO">
		<property name="giacDocSequenceDAO" ref="giacDocSequenceDAO"></property>
	</bean>
	
	<!-- GIACS316 -->
	<bean id="giacDocSequenceUserDAO" class="com.geniisys.giac.dao.impl.GIACDocSequenceUserDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacDocSequenceUserService" class="com.geniisys.giac.service.impl.GIACDocSequenceUserServiceImpl"
		depends-on="giacDocSequenceUserDAO">
		<property name="giacDocSequenceUserDAO" ref="giacDocSequenceUserDAO"></property>
	</bean>
	
	<bean id="giacAgingParametersDAO" class="com.geniisys.giac.dao.impl.GIACAgingParametersDAOImpl"
		depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="giacAgingParametersService" class="com.geniisys.giac.service.impl.GIACAgingParametersServiceImpl"
		depends-on="giacAgingParametersDAO">
		<property name="giacAgingParametersDAO" ref="giacAgingParametersDAO"></property>
	</bean>	
	
	<bean class="com.geniisys.common.dao.impl.GIACOrPrefDAOImpl" id="giacOrPrefDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.common.service.impl.GIACOrPrefServiceImpl" id="giacOrPrefService" depends-on="giacOrPrefDAO">
		<property name="giacOrPrefDAO" ref="giacOrPrefDAO"></property>
	</bean>
	
	<bean class="com.geniisys.common.dao.impl.GIACEomCheckingScriptsDAOImpl" id="giacEomCheckingScriptsDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.common.service.impl.GIACEomCheckingScriptsServiceImpl" id="giacEomCheckingScriptsService" depends-on="giacEomCheckingScriptsDAO">
		<property name="giacEomCheckingScriptsDAO" ref="giacEomCheckingScriptsDAO"></property>
	</bean>
	
	<bean class="com.geniisys.common.dao.impl.GIACEomRepDAOImpl" id="giacEomRepDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.common.service.impl.GIACEomRepServiceImpl" id="giacEomRepService" depends-on="giacEomRepDAO">
		<property name="giacEomRepDAO" ref="giacEomRepDAO"></property>
	</bean>
	
	<bean class="com.geniisys.common.dao.impl.GIACBankBookTranDAOImpl" id="giacBankBookTranDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.common.service.impl.GIACBankBookTranServiceImpl" id="giacBankBookTranService" depends-on="giacBankBookTranDAO">
		<property name="giacBankBookTranDAO" ref="giacBankBookTranDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACIntmPcommRtDAOImpl" id="giacIntmPcommRtDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACIntmPcommRtServiceImpl" id="giacIntmPcommRtService" depends-on="giacIntmPcommRtDAO">
		<property name="giacIntmPcommRtDAO" ref="giacIntmPcommRtDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACCheckNoDAOImpl" id="giacCheckNoDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACCheckNoServiceImpl" id="giacCheckNoService" depends-on="giacCheckNoDAO">
		<property name="giacCheckNoDAO" ref="giacCheckNoDAO"></property>
	</bean>
	
	<bean class="com.geniisys.giac.dao.impl.GIACPdcChecksDAOImpl" id="giacPdcChecksDAO" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean class="com.geniisys.giac.service.impl.GIACPdcChecksServiceImpl" id="giacPdcChecksService" depends-on="giacPdcChecksDAO">
		<property name="giacPdcChecksDAO" ref="giacPdcChecksDAO"></property>
	</bean>
	
	<!-- start - Gzelle 10282015 KB#132 AP/AR Enhancement -->
	<bean id="giacGlAccountTypesDAO" class="com.geniisys.giac.dao.impl.GIACGlAccountTypesDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacGlAccountTypesService" class="com.geniisys.giac.service.impl.GIACGlAccountTypesServiceImpl" depends-on="giacGlAccountTypesDAO">
		<property name="giacGlAccountTypesDAO" ref="giacGlAccountTypesDAO"></property>
	</bean>	

	<bean id="giacGlSubAccountTypesDAO" class="com.geniisys.giac.dao.impl.GIACGlSubAccountTypesDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacGlSubAccountTypesService" class="com.geniisys.giac.service.impl.GIACGlSubAccountTypesServiceImpl" depends-on="giacGlSubAccountTypesDAO">
		<property name="giacGlSubAccountTypesDAO" ref="giacGlSubAccountTypesDAO"></property>
	</bean>			

	<bean id="giacGlAcctRefNoDAO" class="com.geniisys.giac.dao.impl.GIACGlAcctRefNoDAOImpl" depends-on="sqlMapClient">
		<property name="sqlMapClient" ref="sqlMapClient"></property>	
	</bean>
	<bean id="giacGlAcctRefNoService" class="com.geniisys.giac.service.impl.GIACGlAcctRefNoServiceImpl" depends-on="giacGlAcctRefNoDAO">
		<property name="giacGlAcctRefNoDAO" ref="giacGlAcctRefNoDAO"></property>
	</bean>		
	<!-- end - Gzelle 10282015 KB#132 AP/AR Enhancement -->
</beans>