.inaccessible{
	background: url(images/unavail.icon);
	height: 22px;
	width: 22px;
	padding: 0px;
	margin: 0px;
	background-color: activeborder;
}

.available{
	background: url(images/avail.icon);
	height: 22px;
	width: 22px;
	background-color: activeborder;
}

.currLoc{
	background: url(images/curr_loc.icon);
	height: 22px;
	width: 22px;
	background-color: activeborder;
}

.noAccess{
	background: url(images/no_access.icon);
	height: 22px;
	width: 22px;
	background-color: activeborder;
}

label.roadMapInfo{
	width: 200px;
	text-align: center;
	margin-bottom: 10px;
}

.xline{
	background: url(images/black.png) repeat-x center;
	padding: 0px;
	margin: 0px;
}

.xlineb{
	background: url(images/black.png) repeat-x bottom;
	padding: 0px;
	margin: 0px;
}

.yline{
	background: url(images/black.png) repeat-y right;
	padding: 0px;
	margin: 0px;
}

.ylineCtr{
	background: url(images/black.png) repeat-y center;
	padding: 0px;
	margin: 0px;
}

tr .roadMapRow{
	height: 25px;
	vertical-align: top;
}